alembic==1.12.0
bcrypt==4.0.1
bidict==0.22.1
blinker==1.6.2
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.0
click==8.1.7
colorama==0.4.6
cryptography==41.0.5
dnspython==2.4.2
email-validator==2.0.0.post2
eventlet==0.33.3
Flask==2.3.2
Flask-Bcrypt==1.0.1
Flask-Login==0.6.2
Flask-Migrate==4.0.4
Flask-SocketIO==5.3.3
flask-sqlalchemy==3.0.5
Flask-WTF==1.1.1
greenlet==3.0.0
h11==0.14.0
idna==3.4
importlib-metadata==6.8.0
itsdangerous==2.1.2
Jinja2==3.1.2
Mako==1.2.4
MarkupSafe==2.1.3
Pillow==10.1.0
psutil==5.9.6
pycparser==2.21
PyJWT==2.8.0
pyOpenSSL==23.3.0
pyotp==2.9.0
pypng==0.20220715.0
python-dateutil==2.8.2
python-engineio==4.7.1
python-socketio==5.9.0
qrcode==7.4.2
requests==2.31.0
simple-websocket==1.0.0
six==1.16.0
SQLAlchemy==2.0.21
typing-extensions==4.8.0
urllib3==2.0.6
Werkzeug==2.3.6
wsproto==1.2.0
WTForms==3.0.1
zipp==3.17.0
