[Unit]
Description=SABU-SERVER
After=network.target

[Service]
User=svc-sabu
Group=svc-sabu
WorkingDirectory=/sabu/server/
ExecStart=/sabu/sabu-venv/bin/python server.py
StandardOutput=append:/sabu/flask.log
StandardError=append:/sabu/flask.log

[Install]
WantedBy=multi-user.target