{% extends 'admin_base.html' %}
{% set title='Browser' %}
{% block contents %}
<!-- BROWSER -->
<div class="p-4 sm:ml-64">
	<div class="p-8 mt-16">
		<div class="grid grid-cols-1 gap-8 mb-20">
			<div class="bg-white dark:bg-gray-700 rounded-lg shadow-md">
				<h1 class="text-4xl font-bold text-gray-700 dark:text-white pt-8 pl-8 pt-1">Browser</h1>
				<p class="text-gray-700 dark:text-white pl-8 pb-8">This page allows you to access quarantined files. But you will also find the files scanned and stored on the server.</p>
				<div class="border-t border-gray-700 dark:border-white w-full"></div>
				<div class="bg-white dark:bg-gray-600 rounded-b-lg shadow-md p-8">
					<div class="flex justify-between">
						<div class="flex items-center space-x-4 mb-4">
							<a href="{{ url_for('panel.browser.index') }}"><svg class="fill-lightblue" xmlns="http://www.w3.org/2000/svg" height="22" width="22" viewBox="0 0 512 512"><path d="M64 480H448c35.3 0 64-28.7 64-64V160c0-35.3-28.7-64-64-64H288c-10.1 0-19.6-4.7-25.6-12.8L243.2 57.6C231.1 41.5 212.1 32 192 32H64C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64z"/></svg></a>                 
							<svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
								<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
							</svg>
							<a id="hrefpath" href="{{ url_for('panel.browser.index') }}"><h1 class="font-semibold text-lg text-gray-700 dark:text-white"><span id="nameFolder1"></span></h1></a>
							<svg id="RemoveSVG" hidden class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
								<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
							</svg>
							<h1 class="font-semibold text-lg text-gray-700 dark:text-white"><span id="nameFolder2"></span></h1>
						</div>
						<div>
							<button id="returnButton" hidden class="bg-lightblue hover:bg-darkblue px-3.5 py-2.5 rounded-xl">
								<svg class="fill-white" xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"><path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/></svg>
							</button>
						</div>
					</div>

					<table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
						<thead class="text-gray-700 bg-white border-b dark:border-gray-700 dark:bg-gray-600 dark:text-white">
							<tr>
								<th scope="col" class="px-6 py-3">
									<div class="flex items-center">
										Name
										<a href="#"><svg class="w-3 h-3 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
											<path d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"/>
										  </svg></a>
									</div>
								</th>
								<th scope="col" class="px-6 py-3">
									<div class="flex items-center">
										Modification date
										<a href="#"><svg class="w-3 h-3 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
											<path d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"/>
										  </svg></a>
									</div>
								</th>
								<th scope="col" class="px-6 py-3">
									<div class="flex items-center">
										Type
										<a href="#"><svg class="w-3 h-3 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
											<path d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"/>
										  </svg></a>
									</div>
								</th>
								<th scope="col" class="px-6 py-3">
									<div class="flex items-center">
										Size
										<a href="#"><svg class="w-3 h-3 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
											<path d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"/>
										  </svg></a>
									</div>
								</th>
								<th scope="col" class="px-6 py-3">
									Actions
								</th>
							</tr>
						</thead>
						<tbody>
							{% for dir in items_dir %}
							<tr class="bg-white border-b dark:bg-gray-600 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-700 cursor-pointer">
								<th scope="row" class="onclick_object px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
									<a href="{{ url_for('panel.browser.index') }}{{ cur_dir }}{{ dir[4] }}" class="location"></a>
									<div class="flex items-center">
										<div class="flex-shrink-0">
											<svg class="fill-yellow-300" xmlns="http://www.w3.org/2000/svg" height="20" width="20" viewBox="0 0 512 512"><path d="M64 480H448c35.3 0 64-28.7 64-64V160c0-35.3-28.7-64-64-64H288c-10.1 0-19.6-4.7-25.6-12.8L243.2 57.6C231.1 41.5 212.1 32 192 32H64C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64z"/></svg>
										</div>
										<div class="object_name ml-3">
											{{ dir[0] }}
										</div>
									</div>
								</th>
								<td class="onclick_object px-6 py-4">
									{{ dir[2] }}
								</td>
								<td class="onclick_object px-6 py-4">
									Folder
								</td>
								<td class="onclick_object px-6 py-4">
									{{ dir[3] }}
								</td>
								<td class="px-6 py-4">
									<div class="space-x-2">
										<a href="{{ url_for('panel.browser.download') }}{{ cur_dir }}{{ dir[4] }}" class="font-medium text-blue-600 dark:text-blue-500 hover:text-gray-500 hover:underline text-lg"><i class="fa-solid fa-cloud-arrow-down"></i></a>
										<button class="delete_object_name" data-modal-show="DeleteFolder" data-modal-target="DeleteFolder"><p class="font-medium text-red-600 dark:text-red-500 hover:text-gray-500  hover:underline text-lg"><i class="fa-solid fa-trash-can"></i></p></button>
									</div>
								</td>
							</tr>
							{% endfor %}
							{% for file in items_file %}
							<tr class="bg-white border-b dark:bg-gray-600 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-700">
								<th scope="row" class="onclick_object px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
									<div class="flex items-center">
										<div class="flex-shrink-0">
											<svg class="fill-gray-400" xmlns="http://www.w3.org/2000/svg" height="20" width="16" viewBox="0 0 384 512"><path d="M0 64C0 28.7 28.7 0 64 0H224V128c0 17.7 14.3 32 32 32H384V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V64zm384 64H256V0L384 128z"/></svg>
										</div>
										<div class="object_name ml-3">
											{{ file[0] }}
										</div>
									</div>
								</th>
								<td class="onclick_object px-6 py-4">
									{{ file[2] }}
								</td>
								<td class="onclick_object px-6 py-4">
									File
								</td>
								<td class="onclick_object px-6 py-4">
									{{ file[3] }}
								</td>
								<td class="px-6 py-4">
									<div class="space-x-2">
										<a hidden href="#" class="releaseButton font-medium text-orange-400 dark:text-orange-400 hover:text-gray-500 hover:underline text-lg"><i class="fa-solid fa-rotate-left"></i></a>
										<a href="{{ url_for('panel.browser.download') }}{{ cur_dir }}{{ file[4] }}" class="font-medium text-blue-600 dark:text-blue-500 hover:text-gray-500 hover:underline text-lg"><i class="fa-solid fa-cloud-arrow-down"></i></a>
										<button class="delete_object_name" data-modal-show="DeleteFile" data-modal-target="DeleteFile"><p class="font-medium text-red-600 dark:text-red-500 hover:text-gray-500 hover:underline text-lg"><i class="fa-solid fa-trash-can"></i></p></button>
									</div>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>                        
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Delete file -->
<div id="DeleteFile" data-modal-backdrop="static" tabindex="-1" class="fixed top-0 left-0 right-0 z-50 hidden p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
	<div class="relative w-full max-w-md max-h-full">
		<div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
			<button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="DeleteFile">
				<svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
					<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
				</svg>
				<span class="sr-only">Close modal</span>
			</button>
			<div class="p-6 text-center">
				<svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
					<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
				</svg>
				<h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">Are you sure you want to delete this file ?</h3>
				<button data-modal-hide="DeleteFile" type="button" id="yesButtonDeleteFile" class="yesButtonDeleteObject text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2">
					Yes
				</button>
				<button data-modal-hide="DeleteFile" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">No</button>
			</div>
		</div>
	</div>
</div>
<!-- Delete folder -->
<div id="DeleteFolder" data-modal-backdrop="static" tabindex="-1" class="fixed top-0 left-0 right-0 z-50 hidden p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
	<div class="relative w-full max-w-md max-h-full">
		<div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
			<button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="DeleteFolder">
				<svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
					<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
				</svg>
				<span class="sr-only">Close modal</span>
			</button>
			<div class="p-6 text-center">
				<svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
					<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
				</svg>
				<h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">Are you sure you want to delete this folder ?</h3>
				<button data-modal-hide="DeleteFolder" type="button" id="yesButtonDeleteFolder" class="yesButtonDeleteObject text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2">
					Yes
				</button>
				<button data-modal-hide="DeleteFolder" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">No</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static',filename='js/scripts/browser_srv.js') }}"></script>
{% endblock %}