{% extends 'admin_base.html' %}
{% set title='Dashboard' %}
{% block contents %}
	 <!-- DASHBOARD -->
     <div class="p-4 sm:ml-64">
        <div class="p-8 mt-14">
            <div class="grid grid-cols-4 gap-6 mb-6">
                <div class="flex justify-center bg-white rounded-lg shadow-md h-20">
                    <h1 class="flex items-center">NBR ENDPOINTS</h1>
                </div>
                <div class="flex justify-center bg-white rounded-lg shadow-md">
                    <h1 class="flex items-center">NBR SCANS</h1>
                </div>
                <div class="flex justify-center bg-white rounded-lg shadow-md">
                    <h1 class="flex items-center">NBR VIRUS DETECT</h1>
                </div>
                <div class="flex justify-center bg-white rounded-lg shadow-md">
                    <h1 class="flex items-center">NBR ALERTS</h1>
                </div>
            </div>
            <div class="grid grid-cols-5 gap-6 mb-6">
                <div class="flex justify-center bg-white rounded-lg shadow-md col-span-2 h-72">
                    <h1 class="flex items-center">USER INFORMATION</h1>
                </div>
                <div class="flex justify-center bg-white rounded-lg shadow-md col-start-3">
                    <h1 class="flex items-center">GRAPH NBR USERS</h1>
                </div>
                <div class="flex justify-center bg-white rounded-lg shadow-md col-start-4 col-span-2">
                    <h1 class="flex items-center">GRAPH NBR CONNECTIONS PAR J (search par user)</h1>
                </div>
            </div>
            <div class="grid grid-cols-2 gap-6 mb-6">
                <div class="flex justify-center bg-white rounded-lg shadow-md h-72">
                    <h1 class="flex items-center">SERVER INFORMATION</h1>
                </div>
                <div class="flex justify-center bg-white rounded-lg shadow-md">
                    <h1 class="flex items-center">GRAPH UPTIME SERVER</h1>
                </div>
            </div>
            <div class="grid grid-cols-5 gap-6">
                <div class="flex justify-center bg-white rounded-lg shadow-md col-span-3 h-96">
                    <h1 class="flex items-center">TABS ENDPOINTS</h1>
                </div>
                <div class="col-start-4 col-span-2 grid grid-row-2 gap-6">
                    <div class="flex justify-center bg-white rounded-lg shadow-md">
                        <h1 class="flex items-center">NBR SCANS PAR JOURS</h1>
                    </div>
                    <div class="flex justify-center bg-white rounded-lg shadow-md">
                        <h1 class="flex items-center">NBR VIRUS PAR JOURS</h1>
                    </div>
                </div>
            </div>
        </div>
     </div>
<script type="text/javascript">
	 var csrf_token = "{{ csrf_token() }}";
</script>
{% endblock %}