{% extends 'admin_base.html' %}
{% set title='Dashboard' %}
{% block contents %}
	 <!-- DASHBOARD -->
     <div class="p-4 sm:ml-64">
        <div class="p-8 mt-16">
            <div class="grid grid-cols-4 gap-6 mb-6">
                <!-- NBR ENDPOINTS -->
                <div class="flex bg-white dark:bg-gray-700 rounded-2xl shadow-md h-20">
                    <div class="flex items-center w-full">
                        <div class="flex-col ml-4">
                            <h1 class="text-xs xl:text-base text-gray-500 font-semibold dark:text-gray-300">Number of endpoints</h1>
                            <h1 class="text-lg xl:text-3xl font-bold text-black dark:text-white">10</h1>
                        </div>
                        <div class="m-auto mr-6">
                            <h1 class="bg-gradient-to-t from-lightblue to-darkblue px-4 py-4 rounded-2xl"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 576 512"><path fill="#ffffff" d="M64 0C28.7 0 0 28.7 0 64V352c0 35.3 28.7 64 64 64H240l-10.7 32H160c-17.7 0-32 14.3-32 32s14.3 32 32 32H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H346.7L336 416H512c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64H64zM512 64V288H64V64H512z"/></svg></h1>
                        </div>
                    </div>
                </div>
                <div class="flex justify-center bg-white dark:bg-gray-700 rounded-2xl shadow-md">
                    <div class="flex items-center w-full">
                        <div class="flex-col ml-4">
                            <h1 class="text-xs xl:text-base text-gray-500 font-semibold dark:text-gray-300">Number of scans</h1>
                            <h1 class="text-lg xl:text-3xl font-bold text-black dark:text-white">100</h1>
                        </div>
                        <div class="m-auto mr-6">
                            <h1 class="bg-gradient-to-t from-lightblue to-darkblue px-4 py-4 rounded-2xl"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 512 512"><path fill="#ffffff" d="M216 186.7c-23.9 13.8-40 39.7-40 69.3L32 256C14.3 256-.2 241.6 2 224.1C10.7 154 47.8 92.7 101.3 52c14.1-10.7 33.8-5.3 42.7 10l72 124.7zM256 336c14.6 0 28.2-3.9 40-10.7l72 124.8c8.8 15.3 3.7 35.1-12.6 41.9c-30.6 12.9-64.2 20-99.4 20s-68.9-7.1-99.4-20c-16.3-6.9-21.4-26.6-12.6-41.9l72-124.8c11.8 6.8 25.4 10.7 40 10.7zm224-80l-144 0c0-29.6-16.1-55.5-40-69.3L368 62c8.8-15.3 28.6-20.7 42.7-10c53.6 40.7 90.6 102 99.4 172.1c2.2 17.5-12.4 31.9-30 31.9zM256 208a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/></svg></h1>
                        </div>
                    </div>
                </div>
                <div class="flex justify-center bg-white dark:bg-gray-700 rounded-2xl shadow-md">
                    <div class="flex items-center w-full">
                        <div class="flex-col ml-4">
                            <h1 class="text-xs xl:text-base text-gray-500 font-semibold dark:text-gray-300">Number of viruses detected</h1>
                            <h1 class="text-lg xl:text-3xl font-bold text-black dark:text-white">35</h1>
                        </div>
                        <div class="m-auto mr-6">
                            <h1 class="bg-gradient-to-t from-lightblue to-darkblue px-4 py-4 rounded-2xl"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 512 512"><path fill="#ffffff" d="M288 32c0-17.7-14.3-32-32-32s-32 14.3-32 32V43.5c0 49.9-60.3 74.9-95.6 39.6L120.2 75C107.7 62.5 87.5 62.5 75 75s-12.5 32.8 0 45.3l8.2 8.2C118.4 163.7 93.4 224 43.5 224H32c-17.7 0-32 14.3-32 32s14.3 32 32 32H43.5c49.9 0 74.9 60.3 39.6 95.6L75 391.8c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l8.2-8.2c35.3-35.3 95.6-10.3 95.6 39.6V480c0 17.7 14.3 32 32 32s32-14.3 32-32V468.5c0-49.9 60.3-74.9 95.6-39.6l8.2 8.2c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-8.2-8.2c-35.3-35.3-10.3-95.6 39.6-95.6H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H468.5c-49.9 0-74.9-60.3-39.6-95.6l8.2-8.2c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-8.2 8.2C348.3 118.4 288 93.4 288 43.5V32zM176 224a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm128 56a24 24 0 1 1 0 48 24 24 0 1 1 0-48z"/></svg></h1>
                        </div>
                    </div>
                </div>
                <div class="flex justify-center bg-white dark:bg-gray-700 rounded-2xl shadow-md">
                    <div class="flex items-center w-full">
                        <div class="flex-col ml-4">
                            <h1 class="text-xs xl:text-base text-gray-500 font-semibold dark:text-gray-300">Number of alerts</h1>
                            <h1 class="text-lg xl:text-3xl font-bold text-black dark:text-white">3</h1>
                        </div>
                        <div class="m-auto mr-6">
                            <h1 class="bg-gradient-to-t from-lightblue to-darkblue px-4 py-4 rounded-2xl"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 448 512"><path fill="#ffffff" d="M224 0c-17.7 0-32 14.3-32 32V51.2C119 66 64 130.6 64 208v18.8c0 47-17.3 92.4-48.5 127.6l-7.4 8.3c-8.4 9.4-10.4 22.9-5.3 34.4S19.4 416 32 416H416c12.6 0 24-7.4 29.2-18.9s3.1-25-5.3-34.4l-7.4-8.3C401.3 319.2 384 273.9 384 226.8V208c0-77.4-55-142-128-156.8V32c0-17.7-14.3-32-32-32zm45.3 493.3c12-12 18.7-28.3 18.7-45.3H224 160c0 17 6.7 33.3 18.7 45.3s28.3 18.7 45.3 18.7s33.3-6.7 45.3-18.7z"/></svg></h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid grid-cols-5 gap-6 mb-6">
                <div class="flex justify-center bg-white dark:bg-gray-700 rounded-2xl shadow-md col-span-2 h-72">
                    <div class="flex w-full">
                        <div class="flex-col mt-8 ml-8">
                            <h1 class="text-gray-500 font-semibold dark:text-gray-300">Welcome back,</h1>
                            <h1 class="text-lg xl:text-3xl font-bold text-black dark:text-white">{{ current_user.firstname }} {{ current_user.name }}</h1>
                            <div class="flex-col mt-8 font-semibold text-gray-700 dark:text-white">
                                <div class="flex space-x-2">
                                    <h1><i class="fa-solid fa-user-group"></i></h1>
                                    <p>{{ current_user.role }}</p>
                                </div>
                                <div class="flex space-x-2">
                                    <h1><i class="fa-solid fa-right-to-bracket"></i> Last login :</h1>
                                    <p>??</p>
                                </div>
                                <div class="flex space-x-1">
                                    <h1><i class="fa-solid fa-shield-halved"></i> 2FA :</h1>
                                    <p>{% if current_user.OTPSecret %}
                                        <p class="text-green-500 font-bold"> Enable</p>
                                        {% else %}
                                        <p class="text-red-600 font-bold"> Disable</p>
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                            <div class="mt-10">
                                <a href="{{ url_for('user.index') }}" class="flex items-center space-x-2 text-gray-400 hover:text-gray-900">
                                    <h1 class="text-sm">Edit profile</h1><i class="text-xs fa-solid fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                        <div class="m-auto mr-10">
                            {% if current_user.picture == None %}
                                <span class="flex justify-center items-center w-24 h-24 xl:w-52 xl:h-52 rounded-full shadow-lg border-2 border-white bg-gray-800 font-bold text-white sm:text-2xl xl:text-6xl">{{ current_user.firstname[0].upper() }}{{ current_user.name[0].upper() }}</span>
                            {% else %}
                                <img src="{{ url_for('user.renderPP') }}" class="xl:w-52 xl:h-52 rounded-full shadow-lg border-2 border-white">
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="flex justify-center bg-white dark:bg-gray-700 rounded-2xl shadow-md col-start-3">
                    <h1 class="flex items-center">GRAPH NBR USERS</h1>
                </div>
                <div class="flex justify-center bg-white dark:bg-gray-700 rounded-2xl shadow-md col-start-4 col-span-2">
                    <h1 class="flex items-center">GRAPH NBR CONNECTIONS PAR J (search par user)</h1>
                </div>
            </div>
            <div class="grid grid-cols-2 gap-6 mb-6">
                <div class="flex justify-center bg-white dark:bg-gray-700 rounded-2xl shadow-md h-72">
                    <h1 class="flex items-center">SERVER INFORMATION</h1>
                </div>
                <div class="flex justify-center bg-white dark:bg-gray-700 rounded-2xl shadow-md">
                    <h1 class="flex items-center">GRAPH UPTIME SERVER</h1>
                </div>
            </div>
            <div class="grid grid-cols-5 gap-6">
                <div class="flex justify-center bg-white dark:bg-gray-700 rounded-2xl shadow-md col-span-3 h-96">
                    <h1 class="flex items-center">TABS ENDPOINTS</h1>
                </div>
                <div class="col-start-4 col-span-2 grid grid-row-2 gap-6">
                    <div class="flex justify-center bg-white dark:bg-gray-700 rounded-2xl shadow-md">
                        <h1 class="flex items-center">NBR SCANS PAR JOURS</h1>
                    </div>
                    <div class="flex justify-center bg-white dark:bg-gray-700 rounded-2xl shadow-md">
                        <h1 class="flex items-center">NBR VIRUS PAR JOURS</h1>
                    </div>
                </div>
            </div>
        </div>
     </div>
<script type="text/javascript">
	 var csrf_token = "{{ csrf_token() }}";
</script>
{% endblock %}