{% extends 'admin_base.html' %}
{% set title='Endpoints' %}
{% block contents %}
	<!-- MANAGE ENDPOINTS -->
	<div class="p-4 sm:ml-64">
		<div class="p-8 mt-16">
			<div class="grid grid-cols-1 gap-8 mb-20">
				<div class="bg-white dark:bg-gray-700 rounded-lg shadow-md">
					<h1 class="text-4xl font-bold text-gray-700 dark:text-white pt-8 pl-8 pt-1">Manage Endpoints</h1>
					<p class="text-gray-700 dark:text-white pl-8 pb-8">This page allows you to perform various actions. You can add or remove an endpoint and also manage them.</p>
					<div class="border-t border-gray-700 dark:border-white w-full"></div>
					<div class="bg-gray-50 dark:bg-gray-600 rounded-b-lg shadow-md p-4">
						<div class="overflow-x-auto rounded-lg">
							<div class="flex items-center justify-between bg-white dark:bg-gray-700 p-4">
								<div class="flex">
									<button data-modal-show="addEndpointModal" data-modal-target="addEndpointModal" class="inline-flex items-center text-white bg-darkblue hover:bg-lightblue font-medium rounded-lg text-sm px-5 py-2 dark:bg-darkblue dark:text-white dark:hover:bg-lightblue dark:hover:text-gray-800" type="button">
										<div class="flex justify-center items-center space-x-3">
											<i class="fa-solid fa-desktop"></i><h1>Add Endpoint</h1> 
										</div>
									</button>
								</div>
								<label for="table-search-endpoints" class="sr-only">Search</label>
								<div class="flex w-3/12">
									<span class="inline-flex items-center px-3 text-sm text-gray-900 dark:text-white bg-darkblue border border-r-0 border-darkblue rounded-l-lg dark:bg-darkblue dark:text-gray-400 dark:border-darkblue">
										<div class="text-white"><i class="fa-solid fa-magnifying-glass"></i></div>
									</span>
									<input type="text" id="table-search-endpoints" class="rounded-r-lg bg-gray-50 border border-gray-300 dark:border-white text-gray-900 focus:border-darkblue block min-w-0 w-full text-sm p-2 dark:bg-gray-600 dark:border-gray-400 dark:placeholder-gray-400 dark:text-white dark:focus:border-darkblue" placeholder="Search for endpoints">
								</div>							
							</div>
							
							<table class="relative w-full text-sm text-left text-gray-500 dark:text-gray-400 rounded-lg" id="tableEndpointsForm">
								<thead class="text-sm text-gray-700 bg-white border-b border-gray-200 dark:border-gray-800 dark:bg-gray-700 dark:text-white">
									<tr>
										<th scope="col" class="px-6 py-3">
											ID
										</th>
										<th scope="col" class="px-6 py-3">
											Name
										</th>
										<th scope="col" class="px-6 py-3">
											IP
										</th>
										<th scope="col" class="px-6 py-3">
											Status
										</th>
										<th scope="col" class="px-6 py-3">
											
										</th>
									</tr>
								</thead>
								<tbody id="table_endpoint">
									{% if list_devices|length != 0 %}
									{% for device in list_devices %}
									<tr class="bg-white border-b dark:bg-gray-700 dark:border-gray-800 hover:bg-gray-50 dark:hover:bg-gray-600">
										<td id="uuid" class="px-6 py-4">
											{{ device.uuid }}
										</td>
										<td class="px-6 py-4">
											{{ device.hostname }}
										</td>
										<td class="px-6 py-4">
											{% if device.ip %}
											{{ device.ip }}
											{% else %}
											No IP
											{% endif %}
										</td>
										<td class="px-6 py-4">
											<div class="flex items-center">
												{% if device.state == 1 %}
												<div id="state_icon" class="h-2.5 w-2.5 rounded-full bg-green-500 mr-2"></div><span id="state_text">Up</span>
												{% else %}
												<div id="state_icon" class=" h-2.5 w-2.5 rounded-full bg-red-500 mr-2"></div><div id="state_animate" class="animate-ping absolute h-2.5 w-2.5 rounded-full bg-red-500 mr-2"></div><span id="state_text">Down</span>
												{% endif %}
											</div>
										</td>
										<td class="px-4 py-4">
											<div class="flex space-x-3">
												<!-- FEATURE DISABLED <a href="{{ url_for('.index_endpoint',name=device.hostname) }} ">
													<button type="button" title='View Endpoint' class="buttonModifyRow flex justify-center items-center rounded text-lg font-medium text-darkblue hover:text-gray-500">
														<i class="fa-solid fa-eye"></i>
													</button>
												</a> -->
												<button type="button" data-modal-show="confirmRemoveModal" title='Remove Endpoint' data-modal-target="confirmRemoveModal" class="buttonDeleteRow flex justify-center items-center rounded text-lg font-medium text-red-600 hover:text-gray-500">
													<i class="fa-solid fa-trash-can"></i>
												</button>
											</div>
										</td>
									</tr>
									{% endfor %}
									{% endif %}
								</tbody>
							</table>
							{% if list_devices|length == 0 %}
							<div id="" class="flex justify-center p-4 items-center bg-white dark:bg-gray-700 rounded-b-lg">
								<h1 class="dark:text-white font-semibold">No endpoint found !</h1>
							</div>
							{% else %}
							<div id="noEndpointFound" style="display: none;" class="flex justify-center p-4 items-center bg-white dark:bg-gray-700 rounded-b-lg">
								<h1 class="dark:text-white font-semibold">No endpoint found !</h1>
							</div>
							{% endif %}
							
							<!-- Add endpoint modal -->
							<div id="addEndpointModal" tabindex="-1" aria-hidden="true" class="backdrop-blur-sm fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
								<form id="addEndpointForm">
									<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
									<div class="relative w-full max-w-2xl max-h-full">
										<!-- Modal content -->
										<div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
											<!-- Modal header -->
											<div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
												<h3 class="text-xl font-semibold text-gray-900 dark:text-white">
													Add endpoint
												</h3>
												<button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="addEndpointModal">
													<svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
														<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
													</svg>
													<span class="sr-only">Close modal</span>
												</button>
											</div>
											<!-- Modal body -->
											<div class="ml-6 mr-6 mt-2 mb-2 space-y-6">
												<p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
													<div class="flex-col">
														<h1 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white">Information :</h1>
														<p class="text-gray-900 dark:text-white">To add an endpoint you must enter its name and generate a token. Then you will need to enter the token when installing the endpoint.</p>
													</div>
													<div class="flex-col">
														<label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Endpoint Hostname</label>
														<input id="endpointHostname" type="text" name="endpointHostname" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:border-darkblue block w-full p-2.5 dark:bg-gray-600 dark:border-white dark:placeholder-gray-400 dark:text-white dark:focus:border-darkblue" placeholder="endpoint-1">
													</div>
													<div class="flex space-x-2">
														<button id="genTokenButton" type="button" class="p-2 text-white bg-darkblue dark:bg-darkblue hover:bg-lightblue dark:hover:bg-lightblue  font-medium rounded-lg">Generate Token <i class="fa-solid fa-arrows-spin"></i></button>
														<div class="flex w-9/12">
															<input name="endpointToken" type="text" id="endpointToken" class="shadow-sm bg-gray-50 border border-gray-300 dark:border-white text-gray-900 text-sm rounded-lg focus:border-darkblue dark:focus:border-darkblue block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" readonly="readonly">
															<button id="btnCopyTokenEP" type="button" data-tooltip-target="copyTokenEP" class="ml-2 inline-flex items-center px-3 py-2.5 text-white bg-darkblue dark:bg-darkblue hover:bg-lightblue dark:hover:bg-lightblue focus:text-darkblue focus:ring-2 focus:ring-lightblue dark:focus:text-white dark:focus:ring-2 dark:focus:ring-white font-medium text-sm text-center rounded-lg">
																<i class="fa-solid fa-copy"></i>
															</button>
															<div id="copyTokenEP" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:black">
																<span id="copyInfoEP">Copy ✗</span>
																<div class="tooltip-arrow" data-popper-arrow></div>
															</div>
														</div>
													</div>
												</p>
											</div>
											<!-- Modal footer -->
											<div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
												<div class="flex-col w-full">
													<button id="submitAddUEndpointForm" type="submit" class="text-white bg-darkblue dark:bg-darkblue hover:bg-lightblue dark:hover:bg-lightblue font-medium rounded-lg text-sm px-5 py-2.5 text-center">Add</button>
													<div id="alertAddEndpointForm" class="flex justify-center p-4 mt-4 mb-2 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert" style="display: none;">
														<span id="spanErrorAddEndpointForm" class="font-bold">Error : </span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</form>
							</div>
		

							<!-- Confirm remove modal -->
							<div id="confirmRemoveModal" tabindex="-1" class="backdrop-blur-sm fixed top-0 left-0 right-0 z-50 hidden p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
								<div class="relative w-full max-w-md max-h-full">
									<div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
										<button type="button" class="closeRemoveModal absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="confirmRemoveModal">
											<svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
												<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
											</svg>
											<span class="sr-only">Close modal</span>
										</button>
										<div class="p-6 text-center">
											<svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
												<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
											</svg>
											<h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">Are you sure you want to remove this endpoint ?</h3>
											<button data-modal-hide="confirmRemoveModal" type="button" id="yesButtonDeleteEndpoint" class="closeRemoveModal text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2">
												Yes
											</button>
											<button data-modal-hide="confirmRemoveModal" type="button" class="closeRemoveModal text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">No</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
	var csrf_token = "{{ csrf_token() }}";
	var addEndpointUrl = "{{ url_for('.add_endpoint') }}"
	var delEndpointUrl = "{{ url_for('.delete_endpoint') }}"
	var genToken = "{{ url_for('.gen_ep_token') }}"
</script>
<script src="{{ url_for('static',filename='js/scripts/endpoints.js') }}"></script>
{% endblock %}