{% extends 'admin_base.html' %}
{% set title='Endpoints - Remote SSH' %}
{% block contents %}
	 <!-- MANAGE SERVER -->
	 <div class="p-4 sm:ml-64">
		  <div class="p-8 mt-16">
			<div class="grid grid-cols-1">
				<div class="bg-gray-50 dark:bg-gray-700 rounded-lg shadow-md">
					<!-- NAV HEADER -->
					{% include 'subnavbar_endpoints.html' %}
					
					<div class="p-4">
						<!-- SSH -->
						<div class="grid grid-cols-1">
							<div id="terminal" class="flex items-center justify-center shadow-md p-8 h-165 max-h-165">
								<img class="h-auto max-w-full" src="{{ url_for('static',filename='assets/img/construction.png') }}" alt="TRAVAUX">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
	var csrf_token = "{{ csrf_token() }}";
</script>
<script src="{{ url_for('static',filename='js/modules/xtermjs/fit.js') }}"></script>
<script src="{{ url_for('static',filename='js/modules/xtermjs/search.js') }}"></script>
<script src="{{ url_for('static',filename='js/modules/xtermjs/webLinks.js') }}"></script>
<script src="{{ url_for('static',filename='js/modules/xtermjs/xterm.js') }}"></script>

<script src="{{ url_for('static',filename='js/scripts/endpoints.js') }}"></script>
{% endblock %}
