{% extends 'admin_base.html' %}
{% set title='Server - Dashboard' %}
{% block contents %}
<!-- MANAGE SERVER -->
<div class="p-4 sm:ml-64">
		<div class="p-8 mt-16">
		 <div class="grid grid-cols-1">
				<div class="bg-gray-50 dark:bg-gray-700 rounded-lg shadow-md">
					 <!-- NAV HEADER -->
					 {% include 'subnavbar_server.html' %}
					 
					 <div class="p-6">
							<!-- DASHBOARD -->
							<div class="grid grid-cols-2 gap-6">
								 <!-- CPU -->
								 <div class="w-full bg-white rounded-lg shadow dark:bg-gray-800 p-4">
										<div class="flex justify-between">
											 <div>
													<h5 class="leading-none text-3xl font-bold text-gray-900 dark:text-white pb-2">CPU</h5>
											 </div>
										</div>
										<div>
											<div class="h-64" id="chart-cpu"></div>
								 		</div>
								 </div>
	 
								 <!-- RAM -->
								 <div class="w-full bg-white rounded-lg shadow dark:bg-gray-800 p-4">
										<div class="flex justify-between">
											 <div>
													<h5 class="leading-none text-3xl font-bold text-gray-900 dark:text-white pb-2">RAM</h5>
											 </div>
										</div>
										<div>
											<div class="h-64" id="chart-ram"></div>
										</div>
								 </div>

								 <!-- NETWORK -->
								 <div class="w-full bg-white rounded-lg shadow dark:bg-gray-800 p-4">
										<div class="flex justify-between">
											 <div>
													<h5 class="leading-none text-3xl font-bold text-gray-900 dark:text-white pb-2">NETWORK</h5>
											 </div>
										</div>
									  <div> 	
											<div class="h-64" id="chart-network"></div>
								 		</div>
								 </div>

								 <!-- DISK -->
								 <div class="w-full bg-white rounded-lg shadow dark:bg-gray-800 p-4">
										<div class="flex justify-between items-start w-full">
											 <div class="flex-col items-center">
													<div class="flex items-center mb-1">
														 <h5 class="leading-none text-3xl font-bold text-gray-900 dark:text-white pb-2">DISK</h5>
													</div>
											 </div>
										</div>
										<div>
											<div class="h-64" class="py-6" id="chart-disk"></div>
								 		</div>
								 </div>
							</div>
					 </div>
				</div>
		 </div>
	</div>
</div>

{% endblock %}
{% block scripts %}
<script type="text/javascript">
	var csrf_token = "{{ csrf_token() }}";
	var total_ram = {{ total_ram }}
</script>
<script src="{{ url_for('static',filename='js/modules/xtermjs/fit.js') }}"></script>
<script src="{{ url_for('static',filename='js/modules/xtermjs/xterm.js') }}"></script>
<script src="{{ url_for('static',filename='js/scripts/server.js') }}"></script>
{% endblock %}