{% extends 'admin_base.html' %}
{% set title='Server - Settings' %}
{% block contents %}
	<!-- MANAGE SERVER -->
	<div class="p-4 sm:ml-64">
		<div class="p-8 mt-16">
			<div class="grid grid-cols-1">
				<div class="bg-gray-50 dark:bg-gray-700 rounded-lg shadow-md">
					<!-- NAV HEADER -->
					{% include 'subnavbar_server.html' %}

					<div class="p-6">
						<!-- SETTINGS -->
						<div class="grid grid-cols-2 gap-6 mb-6">
							<div class="bg-white dark:bg-gray-800 rounded-lg shadow-md">
								<h1 class="flex justify-center p-4 text-2xl dark:text-white font-bold">General Information</h1>
								<div class="border-t border-gray-300 dark:border-white w-full"></div>
								<div class="p-8">
									<form action="{{ url_for('panel.server.settings_hostname') }} " method="POST">
										<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
										<input type="hidden" name="uuid" value="{{ device.uuid }}">
										<h2 class="mb-2 text-lg font-semibold text-black dark:text-white">Hostname :</h2>
										<ul class="max-w-md space-y-1 text-gray-500 list-inside dark:text-gray-400">
											<li class="flex items-center mb-2">
												<svg id="CharHostname" class="w-3.5 h-3.5 mr-2 text-gray-500 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
													<path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
												</svg>
												Must be between 5 and 64 characters
											</li>
										</ul>
										<div class="flex justify-end">
											<input id="inputHostname" type="text" name="hostname" class="w-full border border-gray-300 dark:bg-gray-600 dark:border-gray-600 focus:border-darkblue dark:focus:border-darkblue dark:shadow-sm-light dark:text-white rounded-lg px-3 py-2" placeholder="{{ hostname }}">
											<button id="subtmitHostname" disabled type="submit" class="ml-4 text-white bg-gray-700 focus:text-darkblue focus:ring-2 focus:ring-lightblue dark:focus:text-white dark:focus:ring-2 dark:focus:ring-white font-medium rounded-lg text-sm px-5 py-2.5 text-center">Save</button>
										</div>
									</form>
									<form action="{{ url_for('panel.server.settings_description') }}" method="POST">
										<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
										<input type="hidden" name="uuid" value="{{ device.uuid }}">
										<div class="mt-8">
											<h2 class="mb-2 text-lg font-semibold text-black dark:text-white">Description :</h2>
											<div class="flex justify-end">
												<textarea id="inputDescription" type="text" name="description" class="resize-none hover:resize-y w-full h-32 border border-gray-300 dark:bg-gray-600 dark:border-gray-600 focus:border-darkblue dark:focus:border-darkblue dark:shadow-sm-light dark:text-white rounded-lg px-3 py-2" placeholder="...">{{ device.description }}</textarea>
												<button type="submit" id="subtmitDescription" class="ml-4 h-10 text-white bg-darkblue dark:bg-darkblue hover:bg-lightblue dark:hover:bg-lightblue focus:text-darkblue focus:ring-2 focus:ring-lightblue dark:focus:text-white dark:focus:ring-2 dark:focus:ring-white font-medium rounded-lg text-sm px-5 py-2.5 text-center">Save</button>
											</div>
										</div>
									</form>
								</div>
							
							</div>
							<div class="bg-white dark:bg-gray-800 rounded-lg shadow-md">
								<form action="{{ url_for('panel.server.settings_certificates') }}" method="POST" enctype="multipart/form-data">
									<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
									<h1 class="flex justify-center p-4 text-2xl dark:text-white font-bold">SSL Certificate</h1>
									<div class="border-t border-gray-300 dark:border-white w-full"></div>
									<div class="p-8">
										<p class="flex justify-center mb-6 font-semibold dark:text-white">You can define a trusted SSL certificate for the panel :</p>
										<div class="flex flex-col space-y-4 place-items-center"> 
											<div class="flex-col w-10/12">
												<label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-200" for="fileCrtInput">Upload crt file</label>
												<input name="fileCRT" accept=".crt" class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" id="fileCrtInput" type="file">
											</div>
											<div class="flex-col w-10/12">
												<label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-200" for="fileKeyInput">Upload key file</label>
												<input name="fileKEY" accept=".key" class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" id="fileKeyInput" type="file">
												<label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-200 mt-4">Passphrase key file (Optional):</label>
												<div class="relative">
													<input type="password" name="phassphraseKeyFile" class="w-full border border-gray-300 dark:bg-gray-600 dark:border-gray-600 focus:border-darkblue dark:focus:border-darkblue dark:shadow-sm-light dark:text-white rounded-lg px-3 py-2" placeholder="••••••••">
													<button id="toggleButton" type="button" class="absolute inset-y-0 right-0 px-3 py-2 bg-transparent">
														<div class="text-gray-500">
														  <i class="toggleView fa-solid fa-eye"></i>
														</div>
													</button>
												</div>
											</div>
										</div>
										<div class="flex justify-end mt-4">
											<button type="submit" class="text-white bg-darkblue dark:bg-darkblue hover:bg-lightblue dark:hover:bg-lightblue focus:text-darkblue focus:ring-2 focus:ring-lightblue dark:focus:text-white dark:focus:ring-2 dark:focus:ring-white font-medium rounded-lg text-sm px-5 py-2.5 text-center">Upload</button>
										</div>
									</div>
								</form>
							</div>
						</div>
						<div class="grid grid-cols-1">
							<div class="bg-white dark:bg-gray-800 rounded-lg shadow-md">
								<h1 class="flex justify-center p-4 text-2xl dark:text-white font-bold">Network</h1>
								<div class="border-t border-gray-300 dark:border-white w-full"></div>
								<form action="{{ url_for('panel.server.settings_networks') }}" method="POST">
									<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
									<div class="p-8">
										<div class="flex justify-center space-x-12">
											<div class="mb-4 w-full">
												<label for="interface" class="block mb-2 dark:text-white">Interface :</label>
												<select id="interface" name="interface" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:border-darkblue dark:focus:border-darkblue dark:shadow-sm-light block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white">
													{% if interfaces.length == 0 %}
														<option>Interface not found</option>
													{% else %}
														{% for interface in interfaces %}
															<option value="{{ interface }}">{{ interface }}</option>
														{% endfor %}
													{% endif %}
												</select>
											</div>
											<div class="mb-4 w-full">
												<label class="block mb-2 dark:text-white">Gateway :</label>
												<input type="text" name="gateway" class="w-full border border-gray-300 dark:bg-gray-600 dark:border-gray-600 focus:border-darkblue dark:focus:border-darkblue dark:shadow-sm-light dark:text-white rounded-lg px-3 py-2" placeholder="METTRE ACTUELLE">
											</div>
										</div>
										<div class="flex justify-center space-x-12">
											<div class="mb-4 w-full">
												<label class="block mb-2 dark:text-white">IP Address :</label>
												<input type="text" name="ip" class="w-full border border-gray-300 dark:bg-gray-600 dark:border-gray-600 focus:border-darkblue dark:focus:border-darkblue dark:shadow-sm-light dark:text-white rounded-lg px-3 py-2" placeholder="METTRE ACTUELLE">
											</div>
											<div class="mb-4 w-full">
												<label class="block mb-2 dark:text-white">DNS 1 :</label>
												<input type="text" name="dns1" class="w-full border border-gray-300 dark:bg-gray-600 dark:border-gray-600 focus:border-darkblue dark:focus:border-darkblue dark:shadow-sm-light dark:text-white rounded-lg px-3 py-2" placeholder="METTRE ACTUELLE">
											</div>
										</div>
										<div class="flex justify-center space-x-12">
											<div class="mb-4 w-full">
												<label class="block mb-2 dark:text-white">Netmask :</label>
												<input type="text" name="netmask" class="w-full border border-gray-300 dark:bg-gray-600 dark:border-gray-600 focus:border-darkblue dark:focus:border-darkblue dark:shadow-sm-light dark:text-white rounded-lg px-3 py-2" placeholder="METTRE ACTUELLE">
											</div>
											<div class="mb-4 w-full">
												<label class="block mb-2 dark:text-white">DNS 2 (Not required) :</label>
												<input type="text" name="dns2" class="w-full border border-gray-300 dark:bg-gray-600 dark:border-gray-600 focus:border-darkblue dark:focus:border-darkblue dark:shadow-sm-light dark:text-white rounded-lg px-3 py-2" placeholder="METTRE ACTUELLE">
											</div>
										</div>
										<div class="flex justify-end mt-4">
											<button type="submit" class="text-white bg-darkblue dark:bg-darkblue hover:bg-lightblue dark:hover:bg-lightblue focus:text-darkblue focus:ring-2 focus:ring-lightblue dark:focus:text-white dark:focus:ring-2 dark:focus:ring-white font-medium rounded-lg text-sm px-5 py-2.5 text-center">Save</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div> 
		</div>
	</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
	var csrf_token = "{{ csrf_token() }}";
</script>
<script src="{{ url_for('static',filename='js/scripts/server.js') }}"></script>
{% endblock %}