{% extends 'admin_base.html' %}
{% set title='Server - Remote SSH' %}
{% block contents %}
	 <!-- MANAGE SERVER -->
	 <div class="p-4 sm:ml-64">
		  <div class="p-8 mt-16">
			<div class="grid grid-cols-1">
				<div class="bg-gray-50 rounded-lg shadow-md">
					<!-- NAV HEADER -->
					{% include 'subnavbar_server.html' %}
					
					<div class="p-4">
						<!-- SSH -->
						<div class="grid grid-cols-1">
							<div id="terminal" class="flex items-center justify-center shadow-md p-8 h-165 max-h-165">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<script type="text/javascript">
	 var csrf_token = "{{ csrf_token() }}";
</script>
<script> 
	 document.getElementById("ssh").classList.remove("border-b-2", "border-transparent", "rounded-t-lg", "hover:text-gray-600", "hover:border-gray-300", "dark:hover:text-gray-300");
	 document.getElementById("ssh").classList.add("text-blue-600", "border-b-2", "border-blue-600", "rounded-t-lg", "active", "dark:text-blue-500", "dark:border-blue-500");
	 document.getElementById("ssh-svg").classList.remove("text-gray-400", "group-hover:text-gray-500", "dark:text-gray-500", "dark:group-hover:text-gray-300");
	 document.getElementById("ssh-svg").classList.add("text-blue-600", "dark:text-blue-500");
</script>
<script src="{{ url_for('static',filename='/modules/xtermjs/fit.js') }}"></script>
<script src="{{ url_for('static',filename='/modules/xtermjs/search.js') }}"></script>
<script src="{{ url_for('static',filename='/modules/xtermjs/webLinks.js') }}"></script>
<script src="{{ url_for('static',filename='/modules/xtermjs/xterm.js') }}"></script>

<script type="text/javascript">
Terminal.applyAddon(fit)

const term = new Terminal({
	cursorBlink: 5,
	scrollback: 300
})

term.open(document.getElementById('terminal'))
term.fit()
term.write("\n The ssh feature is currently being built !!!")

</script>
{% endblock %}