{% extends 'admin_base.html' %}
{% set title='Settings' %}
{% block contents %}
<!-- BROWSER -->
<div class="p-4 sm:ml-64">
	<div class="p-8 mt-16">
		<div class="grid grid-cols-1 gap-6 mb-12">
            <div class="bg-white dark:bg-gray-700 rounded-lg shadow-md">
				<h1 class="text-4xl font-bold text-gray-700 dark:text-white pt-8 pl-8 pt-1">Settings</h1>
				<p class="text-gray-700 dark:text-white pl-8 pb-8">This page allows you to configure some parameters of the SABU system.</p>
                <div class="border-t border-gray-700 dark:border-white w-full"></div>
                <div class="p-6 space-y-6">
                    <div class="flex rounded-xl shadow-md bg-gray-50 dark:bg-gray-600 h-28 border-l-4 border-lightblue">
                        <div class="flex items-center w-full">
                            <div class="flex-col items-center ml-8">
                                <h1 class="uppercase text-lg font-semibold pb-2 dark:text-white">File extension</h1>
                                <p class="text-sm dark:text-white">You can configure allowed file extensions.</p>
                            </div>
                            <div class="m-auto mr-16 flex space-x-2">
                                <div class="relative">
                                    <input type="text" name="input-extension" id="input-extension" class="rounded-lg bg-gray-50 border border-gray-300 dark:border-white text-gray-900 focus:border-darkblue block min-w-0 w-full text-sm p-2.5 dark:bg-gray-600 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-darkblue" placeholder="Enter extension (zip)">
                                    <button id="add-extension" type="button" title="Add Extension" class="absolute inset-y-0 right-0 px-3 py-2 bg-transparent">
                                      <div class="text-gray-700 dark:text-white hover:text-lightblue">
                                        <i class="fa-solid fa-plus"></i>
                                      </div>
                                    </button>
                                  </div>
                                <button class="text-white bg-lightblue dark:bg-darkblue hover:bg-darkblue/60 dark:hover:bg-lightblue focus:text-darkblue focus:ring-2 focus:ring-lightblue dark:focus:text-white dark:focus:ring-2 dark:focus:ring-white font-medium rounded-lg text-sm px-5 py-2.5 text-center">Show</button>
                            </div>
                        </div>
                    </div>
                    <div class="flex rounded-xl shadow-md bg-gray-50 dark:bg-gray-600 h-28 border-l-4 border-lightblue">
                        <div class="flex items-center w-full">
                            <div class="flex-col items-center ml-8">
                                <h1 class="uppercase text-lg font-semibold pb-2 dark:text-white">Retention</h1>
                                <p class="text-sm dark:text-white">You can configure the duration (in days) that user files are kept on the server.</p>
                            </div>
                            <div class="m-auto mr-16">
                                <form class="flex items-center space-x-2">
                                    <input type="range" name="amountRange" min="1" max="90" value="30" class="w-full h-1 bg-gray-200 rounded-full appearance-none cursor-pointer dark:bg-gray-800" oninput="this.form.amountInput.value=this.value" />
                                    <input type="text" name="amountInput" min="1" max="90" value="30" class="w-12 h-8 rounded-lg focus:border-darkblue dark:focus:border-darkblue dark:bg-gray-800 dark:text-white" oninput="this.form.amountRange.value=this.value" />
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="flex rounded-xl shadow-md bg-gray-50 dark:bg-gray-600 h-28 border-l-4 border-lightblue">
                        <div class="flex items-center w-full">
                            <div class="flex-col items-center ml-8">
                                <h1 class="uppercase text-lg font-semibold pb-2 dark:text-white">Maintenance settings</h1>
                                <p class="text-sm dark:text-white">You can configure the time between automatic maintenances. (A maintenance updates the software and restarts the complete SABU system).</p>
                            </div>
                            <div class="m-auto mr-16">
                                <div class="flex items-center mb-2">
                                    <input checked id="everyDay" type="radio" value="" name="every-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 dark:bg-gray-700 dark:border-gray-600">
                                    <label for="everyDay" class="ms-2 text-sm font-bold text-gray-900 dark:text-gray-300">Every Day</label>
                                </div>
                                <div class="flex items-center mb-2">
                                    <input id="everyWeek" type="radio" value="" name="every-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 dark:bg-gray-700 dark:border-gray-600">
                                    <label for="everyWeek" class="ms-2 text-sm font-bold text-gray-900 dark:text-gray-300">Every Week</label>
                                </div>
                                <div class="flex items-center">
                                    <input id="everyMonth" type="radio" value="" name="every-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 dark:bg-gray-700 dark:border-gray-600">
                                    <label for="everyMonth" class="ms-2 text-sm font-bold text-gray-900 dark:text-gray-300">Every Month</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex justify-end">
						<button type="submit" class="text-white bg-lightblue dark:bg-darkblue hover:bg-darkblue/60 dark:hover:bg-lightblue focus:text-darkblue focus:ring-2 focus:ring-lightblue dark:focus:text-white dark:focus:ring-2 dark:focus:ring-white font-medium rounded-lg text-sm px-5 py-2.5 text-center">Apply</button>
                    </div>
                </div>
                <div class="border-b border-gray-200"></div>
                <div class="flex p-6 space-x-6">
                    <div class="flex rounded-xl shadow-md bg-gray-50 dark:bg-gray-600 h-28 border-l-4 border-lightblue w-full">
                        <div class="flex items-center w-full">
                            <div class="flex-col items-center ml-4">
                                <h1 class="uppercase font-semibold">Whitelist / Blacklist USB</h1>
                                <p class="text-sm">You can configure a whitelist or a blacklist for usb keys.</p>
                            </div>
                            <div class="m-auto mr-4 space-y-2 space-x-1">
                                <button class="px-3 py-2 text-sm text-white bg-lightblue dark:bg-darkblue hover:bg-darkblue/60 dark:hover:bg-lightblue focus:text-darkblue focus:ring-2 focus:ring-lightblue dark:focus:text-white dark:focus:ring-2 dark:focus:ring-white font-medium rounded-lg text-sm text-center">Whitelist</button>
                                <button class="px-3 py-2 text-sm text-white bg-lightblue dark:bg-darkblue hover:bg-darkblue/60 dark:hover:bg-lightblue focus:text-darkblue focus:ring-2 focus:ring-lightblue dark:focus:text-white dark:focus:ring-2 dark:focus:ring-white font-medium rounded-lg text-sm text-center">Blacklist</button>
                            </div>
                        </div>
                    </div>
                    <div class="flex rounded-xl shadow-md bg-gray-50 dark:bg-gray-600 h-28 border-l-4 border-lightblue w-full">
                        <div class="flex items-center w-full">
                            <div class="flex-col items-center ml-4">
                                <h1 class="uppercase font-semibold">Flush Metrics</h1>
                                <p class="text-sm">You can delete server metrics. Either only the alerts or the data.</p>
                            </div>
                            <div class="m-auto mr-4 space-y-2 space-x-1">
                                <button class="px-3 py-2 text-sm text-white bg-lightblue dark:bg-darkblue hover:bg-darkblue/60 dark:hover:bg-lightblue focus:text-darkblue focus:ring-2 focus:ring-lightblue dark:focus:text-white dark:focus:ring-2 dark:focus:ring-white font-medium rounded-lg text-sm text-center">Flush Alerts</button>
                                <button class="px-3 py-2 text-sm text-white bg-lightblue dark:bg-darkblue hover:bg-darkblue/60 dark:hover:bg-lightblue focus:text-darkblue focus:ring-2 focus:ring-lightblue dark:focus:text-white dark:focus:ring-2 dark:focus:ring-white font-medium rounded-lg text-sm text-center">Flush Data</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
		</div>
        <div class="grid grid-cols-1 gap-6">
            <div class="bg-white dark:bg-gray-700 rounded-lg shadow-md">
                <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                        <thead class="text-sm text-gray-700 border-b bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                            <tr>
                                <th scope="col" class="px-6 py-3">
                                    Service
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Status
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Uptime
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="bg-white border-b dark:bg-gray-600 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-700">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    Sabu
                                </th>
                                <td class="px-6 py-4">
                                    <div class="flex items-center"><div class="h-2.5 w-2.5 rounded-full bg-green-500 mr-2"></div><h1>Running</h1></div>
                                </td>
                                <td class="px-6 py-4">
                                    3h 10 min
                                </td>
                                <td class="px-6 py-4">
                                    <button type="button" id="dropdownRightButton" data-dropdown-toggle="dropdownRight" data-dropdown-placement="right" class="buttonModifyRow flex justify-center items-center rounded bg-gray-500 hover:bg-gray-600 h-8 w-24 font-medium text-white">
                                        <div class="flex items-center space-x-2"><i class="fa-solid fa-bars"></i><h1>Actions</h1></div>
                                    </button>
                                    <!-- Dropdown Right -->
                                    <div id="dropdownRight" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow p-2 dark:bg-gray-700">
                                        <ul class="space-y-2" aria-labelledby="dropdownRightButton">
                                        <li>
                                            <button type="button" data-modal-show="confirmUpdate" title='Update Service' data-modal-target="confirmUpdate" class="buttonModifyRow flex justify-center items-center rounded bg-yellow-300 hover:bg-yellow-400 h-8 w-24 font-medium text-white">
                                                <div class="flex items-center space-x-2"><i class="fa-solid fa-arrow-up-from-bracket"></i><h1>Update</h1></div>
                                            </button>
                                        </li>
                                        <li>
                                            <button type="button" data-modal-show="confirmStop" title='Reboot Service' data-modal-target="confirmStop" class="buttonModifyRow flex justify-center items-center rounded bg-orange-500 hover:bg-orange-600 h-8 w-24 font-medium text-white">
                                                <div class="flex items-center space-x-2"><i class="fa-solid fa-arrows-rotate"></i><h1>Reboot</h1></div>
                                            </button>
                                        </li>
                                        <li>
                                            <button type="button" data-modal-show="confirmStop" title='Stop Service' data-modal-target="confirmStop" class="buttonModifyRow flex justify-center items-center rounded bg-red-600 hover:bg-red-700 h-8 w-24 font-medium text-white">
                                                <div class="flex items-center space-x-2"><i class="fa-regular fa-circle-stop"></i><h1>Stop</h1></div>
                                            </button>
                                        </li>
                                        <li>
                                            <button type="button" data-modal-show="confirmStop" title='Start Service' data-modal-target="confirmStop" class="buttonModifyRow flex justify-center items-center rounded bg-green-600 hover:bg-green-700 h-8 w-24 font-medium text-white">
                                                <div class="flex items-center space-x-2"><i class="fa-solid fa-power-off"></i><h1>Start</h1></div>
                                            </button>
                                        </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr class="bg-white border-b dark:bg-gray-600 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-700">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    Nginx
                                </th>
                                <td class="px-6 py-4">
                                    <div class="flex items-center"><div class="h-2.5 w-2.5 rounded-full bg-green-500 mr-2"></div><h1>Running</h1></div>
                                </td>
                                <td class="px-6 py-4">
                                    3h 10 min
                                </td>
                                <td class="px-6 py-4">
                                    <button type="button" id="dropdownRightButton" data-dropdown-toggle="dropdownRight" data-dropdown-placement="right" class="buttonModifyRow flex justify-center items-center rounded bg-gray-500 hover:bg-gray-600 h-8 w-24 font-medium text-white">
                                        <div class="flex items-center space-x-2"><i class="fa-solid fa-bars"></i><h1>Actions</h1></div>
                                    </button>
                                    <!-- Dropdown Right -->
                                    <div id="dropdownRight" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow p-2 dark:bg-gray-700">
                                        <ul class="space-y-2" aria-labelledby="dropdownRightButton">
                                        <li>
                                            <button type="button" data-modal-show="confirmUpdate" title='Update Service' data-modal-target="confirmUpdate" class="buttonModifyRow flex justify-center items-center rounded bg-yellow-300 hover:bg-yellow-400 h-8 w-24 font-medium text-white">
                                                <div class="flex items-center space-x-2"><i class="fa-solid fa-arrow-up-from-bracket"></i><h1>Update</h1></div>
                                            </button>
                                        </li>
                                        <li>
                                            <button type="button" data-modal-show="confirmStop" title='Reboot Service' data-modal-target="confirmStop" class="buttonModifyRow flex justify-center items-center rounded bg-orange-500 hover:bg-orange-600 h-8 w-24 font-medium text-white">
                                                <div class="flex items-center space-x-2"><i class="fa-solid fa-arrows-rotate"></i><h1>Reboot</h1></div>
                                            </button>
                                        </li>
                                        <li>
                                            <button type="button" data-modal-show="confirmStop" title='Stop Service' data-modal-target="confirmStop" class="buttonModifyRow flex justify-center items-center rounded bg-red-600 hover:bg-red-700 h-8 w-24 font-medium text-white">
                                                <div class="flex items-center space-x-2"><i class="fa-regular fa-circle-stop"></i><h1>Stop</h1></div>
                                            </button>
                                        </li>
                                        <li>
                                            <button type="button" data-modal-show="confirmStop" title='Start Service' data-modal-target="confirmStop" class="buttonModifyRow flex justify-center items-center rounded bg-green-600 hover:bg-green-700 h-8 w-24 font-medium text-white">
                                                <div class="flex items-center space-x-2"><i class="fa-solid fa-power-off"></i><h1>Start</h1></div>
                                            </button>
                                        </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr class="bg-white border-b dark:bg-gray-600 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-700">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    Postgres
                                </th>
                                <td class="px-6 py-4">
                                    <div class="flex items-center"><div class="h-2.5 w-2.5 rounded-full bg-green-500 mr-2"></div><h1>Running</h1></div>
                                </td>
                                <td class="px-6 py-4">
                                    3h 10 min
                                </td>
                                <td class="px-6 py-4">
                                    <button type="button" id="dropdownRightButton" data-dropdown-toggle="dropdownRight" data-dropdown-placement="right" class="buttonModifyRow flex justify-center items-center rounded bg-gray-500 hover:bg-gray-600 h-8 w-24 font-medium text-white">
                                        <div class="flex items-center space-x-2"><i class="fa-solid fa-bars"></i><h1>Actions</h1></div>
                                    </button>
                                    <!-- Dropdown Right -->
                                    <div id="dropdownRight" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow p-2 dark:bg-gray-700">
                                        <ul class="space-y-2" aria-labelledby="dropdownRightButton">
                                        <li>
                                            <button type="button" data-modal-show="confirmUpdate" title='Update Service' data-modal-target="confirmUpdate" class="buttonModifyRow flex justify-center items-center rounded bg-yellow-300 hover:bg-yellow-400 h-8 w-24 font-medium text-white">
                                                <div class="flex items-center space-x-2"><i class="fa-solid fa-arrow-up-from-bracket"></i><h1>Update</h1></div>
                                            </button>
                                        </li>
                                        <li>
                                            <button type="button" data-modal-show="confirmStop" title='Reboot Service' data-modal-target="confirmStop" class="buttonModifyRow flex justify-center items-center rounded bg-orange-500 hover:bg-orange-600 h-8 w-24 font-medium text-white">
                                                <div class="flex items-center space-x-2"><i class="fa-solid fa-arrows-rotate"></i><h1>Reboot</h1></div>
                                            </button>
                                        </li>
                                        <li>
                                            <button type="button" data-modal-show="confirmStop" title='Stop Service' data-modal-target="confirmStop" class="buttonModifyRow flex justify-center items-center rounded bg-red-600 hover:bg-red-700 h-8 w-24 font-medium text-white">
                                                <div class="flex items-center space-x-2"><i class="fa-regular fa-circle-stop"></i><h1>Stop</h1></div>
                                            </button>
                                        </li>
                                        <li>
                                            <button type="button" data-modal-show="confirmStop" title='Start Service' data-modal-target="confirmStop" class="buttonModifyRow flex justify-center items-center rounded bg-green-600 hover:bg-green-700 h-8 w-24 font-medium text-white">
                                                <div class="flex items-center space-x-2"><i class="fa-solid fa-power-off"></i><h1>Start</h1></div>
                                            </button>
                                        </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr class="bg-white border-b dark:bg-gray-600 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-700">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    Rsyslog
                                </th>
                                <td class="px-6 py-4">
                                    <div class="flex items-center"><div class="h-2.5 w-2.5 rounded-full bg-green-500 mr-2"></div><h1>Running</h1></div>
                                </td>
                                <td class="px-6 py-4">
                                    3h 10 min
                                </td>
                                <td class="px-6 py-4">
                                    <button type="button" id="dropdownRightButton" data-dropdown-toggle="dropdownRight" data-dropdown-placement="right" class="buttonModifyRow flex justify-center items-center rounded bg-gray-500 hover:bg-gray-600 h-8 w-24 font-medium text-white">
                                        <div class="flex items-center space-x-2"><i class="fa-solid fa-bars"></i><h1>Actions</h1></div>
                                    </button>
                                    <!-- Dropdown Right -->
                                    <div id="dropdownRight" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow p-2 dark:bg-gray-700">
                                        <ul class="space-y-2" aria-labelledby="dropdownRightButton">
                                        <li>
                                            <button type="button" data-modal-show="confirmUpdate" title='Update Service' data-modal-target="confirmUpdate" class="buttonModifyRow flex justify-center items-center rounded bg-yellow-300 hover:bg-yellow-400 h-8 w-24 font-medium text-white">
                                                <div class="flex items-center space-x-2"><i class="fa-solid fa-arrow-up-from-bracket"></i><h1>Update</h1></div>
                                            </button>
                                        </li>
                                        <li>
                                            <button type="button" data-modal-show="confirmStop" title='Reboot Service' data-modal-target="confirmStop" class="buttonModifyRow flex justify-center items-center rounded bg-orange-500 hover:bg-orange-600 h-8 w-24 font-medium text-white">
                                                <div class="flex items-center space-x-2"><i class="fa-solid fa-arrows-rotate"></i><h1>Reboot</h1></div>
                                            </button>
                                        </li>
                                        <li>
                                            <button type="button" data-modal-show="confirmStop" title='Stop Service' data-modal-target="confirmStop" class="buttonModifyRow flex justify-center items-center rounded bg-red-600 hover:bg-red-700 h-8 w-24 font-medium text-white">
                                                <div class="flex items-center space-x-2"><i class="fa-regular fa-circle-stop"></i><h1>Stop</h1></div>
                                            </button>
                                        </li>
                                        <li>
                                            <button type="button" data-modal-show="confirmStop" title='Start Service' data-modal-target="confirmStop" class="buttonModifyRow flex justify-center items-center rounded bg-green-600 hover:bg-green-700 h-8 w-24 font-medium text-white">
                                                <div class="flex items-center space-x-2"><i class="fa-solid fa-power-off"></i><h1>Start</h1></div>
                                            </button>
                                        </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr class="bg-white border-b dark:bg-gray-600 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-700">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    Nftables
                                </th>
                                <td class="px-6 py-4">
                                    <div class="flex items-center"><div class="h-2.5 w-2.5 rounded-full bg-red-500 mr-2"></div><div class="animate-ping absolute h-2.5 w-2.5 rounded-full bg-red-500 mr-2"></div><h1>Inactive</h1></div>
                                </td>
                                <td class="px-6 py-4">
                                    -
                                </td>
                                <td class="px-6 py-4">
                                    <button type="button" id="dropdownRightButton" data-dropdown-toggle="dropdownRight" data-dropdown-placement="right" class="buttonModifyRow flex justify-center items-center rounded bg-gray-500 hover:bg-gray-600 h-8 w-24 font-medium text-white">
                                        <div class="flex items-center space-x-2"><i class="fa-solid fa-bars"></i><h1>Actions</h1></div>
                                    </button>
                                    <!-- Dropdown Right -->
                                    <div id="dropdownRight" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow p-2 dark:bg-gray-700">
                                        <ul class="space-y-2" aria-labelledby="dropdownRightButton">
                                        <li>
                                            <button type="button" data-modal-show="confirmUpdate" title='Update Service' data-modal-target="confirmUpdate" class="buttonModifyRow flex justify-center items-center rounded bg-yellow-300 hover:bg-yellow-400 h-8 w-24 font-medium text-white">
                                                <div class="flex items-center space-x-2"><i class="fa-solid fa-arrow-up-from-bracket"></i><h1>Update</h1></div>
                                            </button>
                                        </li>
                                        <li>
                                            <button type="button" data-modal-show="confirmStop" title='Reboot Service' data-modal-target="confirmStop" class="buttonModifyRow flex justify-center items-center rounded bg-orange-500 hover:bg-orange-600 h-8 w-24 font-medium text-white">
                                                <div class="flex items-center space-x-2"><i class="fa-solid fa-arrows-rotate"></i><h1>Reboot</h1></div>
                                            </button>
                                        </li>
                                        <li>
                                            <button type="button" data-modal-show="confirmStop" title='Stop Service' data-modal-target="confirmStop" class="buttonModifyRow flex justify-center items-center rounded bg-red-600 hover:bg-red-700 h-8 w-24 font-medium text-white">
                                                <div class="flex items-center space-x-2"><i class="fa-regular fa-circle-stop"></i><h1>Stop</h1></div>
                                            </button>
                                        </li>
                                        <li>
                                            <button type="button" data-modal-show="confirmStop" title='Start Service' data-modal-target="confirmStop" class="buttonModifyRow flex justify-center items-center rounded bg-green-600 hover:bg-green-700 h-8 w-24 font-medium text-white">
                                                <div class="flex items-center space-x-2"><i class="fa-solid fa-power-off"></i><h1>Start</h1></div>
                                            </button>
                                        </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr class="bg-white border-b dark:bg-gray-600 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-700">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    ClamAV
                                </th>
                                <td class="px-6 py-4">
                                    <div class="flex items-center"><div class="h-2.5 w-2.5 rounded-full bg-green-500 mr-2"></div><h1>Running</h1></div>
                                </td>
                                <td class="px-6 py-4">
                                    3h 10 min
                                </td>
                                <td class="px-6 py-4">
                                    <button type="button" id="dropdownRightButton" data-dropdown-toggle="dropdownRight" data-dropdown-placement="right" class="buttonModifyRow flex justify-center items-center rounded bg-gray-500 hover:bg-gray-600 h-8 w-24 font-medium text-white">
                                        <div class="flex items-center space-x-2"><i class="fa-solid fa-bars"></i><h1>Actions</h1></div>
                                    </button>
                                    <!-- Dropdown Right -->
                                    <div id="dropdownRight" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow p-2 dark:bg-gray-700">
                                        <ul class="space-y-2" aria-labelledby="dropdownRightButton">
                                        <li>
                                            <button type="button" data-modal-show="confirmUpdate" title='Update Service' data-modal-target="confirmUpdate" class="buttonModifyRow flex justify-center items-center rounded bg-yellow-300 hover:bg-yellow-400 h-8 w-24 font-medium text-white">
                                                <div class="flex items-center space-x-2"><i class="fa-solid fa-arrow-up-from-bracket"></i><h1>Update</h1></div>
                                            </button>
                                        </li>
                                        <li>
                                            <button type="button" data-modal-show="confirmStop" title='Reboot Service' data-modal-target="confirmStop" class="buttonModifyRow flex justify-center items-center rounded bg-orange-500 hover:bg-orange-600 h-8 w-24 font-medium text-white">
                                                <div class="flex items-center space-x-2"><i class="fa-solid fa-arrows-rotate"></i><h1>Reboot</h1></div>
                                            </button>
                                        </li>
                                        <li>
                                            <button type="button" data-modal-show="confirmStop" title='Stop Service' data-modal-target="confirmStop" class="buttonModifyRow flex justify-center items-center rounded bg-red-600 hover:bg-red-700 h-8 w-24 font-medium text-white">
                                                <div class="flex items-center space-x-2"><i class="fa-regular fa-circle-stop"></i><h1>Stop</h1></div>
                                            </button>
                                        </li>
                                        <li>
                                            <button type="button" data-modal-show="confirmStop" title='Start Service' data-modal-target="confirmStop" class="buttonModifyRow flex justify-center items-center rounded bg-green-600 hover:bg-green-700 h-8 w-24 font-medium text-white">
                                                <div class="flex items-center space-x-2"><i class="fa-solid fa-power-off"></i><h1>Start</h1></div>
                                            </button>
                                        </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
	</div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static',filename='js/scripts/settings.js') }}"></script>
{% endblock %}