{% extends 'admin_base.html' %}
{% set title='Server - Logs' %}
{% block contents %}
    <!-- MANAGE SERVER -->
    <div class="p-4 sm:ml-64">
        <div class="p-8 mt-14">
         <div class="grid grid-cols-1 gap-8 mb-8">
            <div class="bg-gray-50 rounded-lg shadow-md">
               <!-- NAV HEADER -->
               {% include 'subnavbar_server.html' %}
               
               <div class="p-8">
                  <!-- DASH -->
                  <div class="grid grid-cols-1 gap-4 mb-4">
                     <div class="flex items-center justify-center h-24 shadow-md rounded-lg bg-white dark:bg-gray-800">
                        <p class="text-2xl text-gray-400 dark:text-gray-500">
                           LOGS
                        </p>
                     </div>
               </div>
            </div>
         </div>
      </div>
   </div>
<script type="text/javascript">
    var csrf_token = "{{ csrf_token() }}";
</script>
<script> 
    document.getElementById("logs").classList.remove("border-b-2", "border-transparent", "rounded-t-lg", "hover:text-gray-600", "hover:border-gray-300", "dark:hover:text-gray-300");
    document.getElementById("logs").classList.add("text-blue-600", "border-b-2", "border-blue-600", "rounded-t-lg", "active", "dark:text-blue-500", "dark:border-blue-500");
    document.getElementById("logs-svg").classList.remove("text-gray-400", "group-hover:text-gray-500", "dark:text-gray-500", "dark:group-hover:text-gray-300");
    document.getElementById("logs-svg").classList.add("text-blue-600", "dark:text-blue-500");
</script>
{% endblock %}