{% extends 'admin_base.html' %}
{% set title='Users' %}
{% block contents %}
	<!-- USERS -->
	<div class="p-4 sm:ml-64">
		<div class="p-8 mt-16">
			<div class="grid grid-cols-1 gap-8 mb-20">
				<div class="bg-white dark:bg-gray-700 rounded-lg shadow-md">
					<h1 class="text-4xl font-bold text-gray-700 dark:text-white pt-8 pl-8 pt-1">Manage Users</h1>
					<p class="text-gray-700 dark:text-white pl-8 pb-8">This page allows you to perform various actions, from adding new users to editing their existing information, as well as deleting accounts.</p>
					<div class="border-t border-gray-700 dark:border-white w-full"></div>
					<div class="bg-gray-50 dark:bg-gray-600 rounded-b-lg shadow-md p-4">
						<div class="overflow-x-auto rounded-lg">
							<div class="flex items-center justify-between bg-white dark:bg-gray-700 p-4">
								<label for="table-search" class="sr-only">Search</label>
								<div class="flex w-3/12">
									<span class="inline-flex items-center px-3 text-sm text-gray-900 dark:text-white bg-gray-200 border border-r-0 border-gray-300 dark:border-white rounded-l-md dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600">
										<i class="fa-solid fa-magnifying-glass"></i>
									</span>
									<input type="text" id="table-search-users" class="rounded-none rounded-r-lg bg-gray-50 border border-gray-300 dark:border-white text-gray-900 focus:border-darkblue block min-w-0 w-full text-sm p-2.5  dark:bg-gray-600 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-darkblue" placeholder="Search for users">
								</div>							
								<div class="flex flex-col space-y-2">
									<button data-modal-show="addUserModal" data-modal-target="addUserModal" class="inline-flex items-center text-gray-700 bg-white border border-gray-300 hover:bg-gray-100 focus:text-lightblue focus:ring-2 focus:ring-lightblue font-medium rounded-lg text-sm px-5 py-2 dark:bg-gray-800 dark:text-white dark:border-white dark:hover:bg-white/60 dark:hover:text-gray-800 0 dark:focus:text-lightblue dark:focus:border-lightblue" type="button">
										<div class="flex justify-center items-center space-x-3">
											<i class="fa-solid fa-user-plus"></i><h1>Add User</h1> 
										</div>
									</button>
									<button data-modal-target="manageJobModal" data-modal-toggle="manageJobModal" class="inline-flex items-center text-gray-700 bg-white border border-gray-300 hover:bg-gray-100 focus:text-lightblue focus:ring-2 focus:ring-lightblue font-medium rounded-lg text-sm px-5 py-2 dark:bg-gray-800 dark:text-white dark:border-white dark:hover:bg-white/60 dark:hover:text-gray-800 dark:focus:text-lightblue dark:focus:border-lightblue" type="button">
										<div class="flex justify-center items-center space-x-3">
											<i class="fa-solid fa-briefcase"></i><h1>Manage Job</h1>
										</div>
									</button>
								</div>
							</div>
							
							<table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 rounded-lg" id="tableUsersForm">
								<thead class="text-xs text-gray-700 uppercase bg-gray-200 dark:bg-gray-800 dark:text-white">
									<tr>
										<th scope="col" class="px-6 py-3">
											Name
										</th>
										<th scope="col" class="px-6 py-3">
											Username
										</th>
										<th scope="col" class="px-6 py-3">
											Job
										</th>
										<th scope="col" class="px-6 py-3">
											2FA
										</th>
										<th scope="col" class="px-6 py-3">
											Actions
										</th>
									</tr>
								</thead>
								<tbody id="bodyUsersTable">
									{% for user in userList %}
									<tr class="bg-white border-b dark:bg-gray-700 dark:border-gray-800 hover:bg-gray-50 dark:hover:bg-gray-600">
										<td scope="row" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
											<div class="relative ">
												{% if user.picture %}
												<img class="w-10 h-10 rounded-full" src="{{ url_for('panel.users.index') }}renderPP_user/{{ user.uuid }}">
												{% else %}
												<div>
													<div class="flex text-sm">
														<div class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-gray-800 rounded-full border-2 border-white">
															<span class="font-bold text-white">{{ user.firstname[0].upper() }}{{ user.name[0].upper() }}</span>
														</div>
													</div>
												</div>
												{% endif %}
												{% if user.role == "Admin" %}
												<span class="absolute inset-0 object-right-top -mr-5 -mt-2">
													<div class="inline-flex items-center px-1 py-1 rounded-full text-xs font-semibold leading-4 bg-yellow-400 text-white">
														<i class="fa-solid fa-crown"></i>
													</div>
												</span>
												{% endif %}
											</div>
		
											<div class="pl-3">
												<div class="text-base font-semibold" id="longNameUserTable">{{ user.firstname }} {{ user.name }}</div>
												<div class="font-normal text-gray-500" id="emailUserTable">{{ user.email }}</div>
											</div>  
										</td>
										<td id="usernameUserTable" class="px-6 py-4">
											{{ user.username }}
										</td>
										<td class="px-6 py-4" id="jobUserTable">
											{{ user.job.name }}
										</td>
										<td class="px-6 py-4">
											<div class="flex items-center" id="totpUserTable">
												{% if user.OTPSecret %}
												<div class="h-2.5 w-2.5 rounded-full bg-green-500 mr-2"></div> Enabled
												{% else %}
												<div class="h-2.5 w-2.5 rounded-full bg-red-500 mr-2"></div> Disabled
												{% endif %}
											</div>
										</td>
										<td class="px-4 py-4">
											{% if user.username != "admin" %}
											<div class="flex space-x-2">
												<button type="button" data-modal-show="editUserModal" title='Edit User' data-modal-target="editUserModal" class="buttonModifyRow flex justify-center items-center rounded bg-lightblue hover:bg-darkblue h-6 w-8 font-medium text-white">
													<i class="fa-solid fa-pen-to-square"></i>
												</button>
												{% if user.enable == 1 %}
												<button type="button" data-modal-show="confirmEnableModal" data-modal-target="confirmEnableModal" title='Disable User' class="buttonAbleUser buttonDisableUser flex justify-center items-center rounded bg-green-600 hover:bg-green-800 h-6 w-8 font-medium text-white">
													<i class="fa-solid fa-check"></i>
												</button>
												{% else %}
												<button type="button" data-modal-show="confirmEnableModal" data-modal-target="confirmEnableModal" title='Enable User' class="buttonAbleUser buttonEnableUser flex justify-center items-center rounded bg-red-600 hover:bg-red-800 h-6 w-8 font-medium text-white">
													<i class="fa-solid fa-xmark"></i>
												</button>
												{% endif %}
												<button type="button" data-modal-show="confirmRemoveModal" title='Remove User' data-modal-target="confirmRemoveModal" class="buttonDeleteRow flex justify-center items-center rounded bg-red-600 hover:bg-red-800 h-6 w-8 font-medium text-white">
													<i class="fa-solid fa-trash"></i>
												</button>
											</div>
											{% endif %}
										</td>
										<td id="uuidUserTable" style="display: none;">{{ user.uuid }}</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
							<div id="noUserFound" style="display: none;" class="flex justify-center p-4 items-center dark:bg-gray-700">
								<h1 class="dark:text-white font-semibold">No user found!</h1>
							</div>
							<!-- Edit user modal -->
							<div id="editUserModal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 items-center justify-center hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
								<div class="relative w-full max-w-2xl max-h-full">
									<!-- Modal content -->
									<form id="editUserForm" class="relative bg-white rounded-lg shadow dark:bg-gray-700">
										<!-- Modal header -->
										<div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
											<h3 class="text-xl font-semibold text-gray-900 dark:text-white">
												Edit user
											</h3>
										<button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="editUserModal">
											<svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
												<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
											</svg>
											<span class="sr-only">Close modal</span>
										</button>
										</div>
		
										<!-- Modal body -->
										<div class="p-6 space-y-6">
											<div class="grid grid-cols-6 gap-6">
												<input type="text" name="uuid" style="display: none;" id="editUserUUID"/>
												<div class="col-span-6 sm:col-span-3">
													<label for="firstname" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">First Name</label>
													<input id="editUserFirstname" type="text" name="firstname" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:border-darkblue block w-full p-2.5 dark:bg-gray-600 dark:border-white dark:placeholder-gray-400 dark:text-white dark:focus:border-darkblue">
												</div>
												<div class="col-span-6 sm:col-span-3">
													<label for="last-name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Last Name</label>
													<input id="editUserName" type="text" name="name" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:border-darkblue block w-full p-2.5 dark:bg-gray-600 dark:border-white dark:placeholder-gray-400 dark:text-white dark:focus:border-darkblue">
												</div>
												<div class="col-span-6 sm:col-span-3">
													<label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Username</label>
													<input type="text" name="username" id="editUserUsername" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:border-darkblue block w-full p-2.5 dark:bg-gray-600 dark:border-white dark:placeholder-gray-400 dark:text-white dark:focus:border-darkblue">
												</div>
												<div class="col-span-6 sm:col-span-3">
													<label for="role" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Role</label>
													<input type="text" name="role" id="editUserRole" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:border-darkblue block w-full p-2.5 dark:bg-gray-600 dark:border-white dark:placeholder-gray-400 dark:text-white dark:focus:border-darkblue" readonly>
												</div>
													<div class="col-span-6 sm:col-span-3">
													<label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
													<input type="email" name="email" id="editUserEmail" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:border-darkblue block w-full p-2.5 dark:bg-gray-600 dark:border-white dark:placeholder-gray-400 dark:text-white dark:focus:border-darkblue">
												</div>
												<div class="col-span-6 sm:col-span-3">
													<label for="job" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Job</label>
													<select name="job" id="editUserJob" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:border-darkblue block w-full p-2.5 dark:bg-gray-600 dark:border-white dark:placeholder-gray-400 dark:text-white dark:focus:border-darkblue">
														<option selected>Choose a job</option>
														{% for job in job_list %}
														<option value="{{ job }}">{{ job }}</option>
														{% endfor %}
													</select>
												</div>
												<div class="col-span-6 sm:col-span-3">
													<label for="EditPassword" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">New Password</label>
													<div class="relative">
														<input type="password" name="password" id="EditPassword" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:border-darkblue block w-full p-2.5 dark:bg-gray-600 dark:border-white dark:placeholder-gray-400 dark:text-white dark:focus:border-darkblue" placeholder="••••••••">
														<button id="toggleButtonEditPassword" type="button" class="absolute inset-y-0 right-0 px-3 py-2 bg-transparent">
															<div class="text-gray-700 text-white">
															  <i id="toggleviewEditPassword" class="toggleView fa-solid fa-eye"></i>
															</div>
														</button>
													</div>
												</div>
												<div class="col-span-6 sm:col-span-3">
													<label for="EditRepeatPassword" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Repeat Password</label>
													<div class="relative">
														<input type="password" name="EditRepeatPassword" id="EditRepeatPassword" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:border-darkblue block w-full p-2.5 dark:bg-gray-600 dark:border-white dark:placeholder-gray-400 dark:text-white dark:focus:border-darkblue" placeholder="••••••••">
														<button id="toggleButtonEditRepeatPassword" type="button" class="absolute inset-y-0 right-0 px-3 py-2 bg-transparent">
															<div class="text-gray-700 dark:text-white">
															  <i id="toggleviewEditRepeatPassword" class="toggleView fa-solid fa-eye"></i>
															</div>
														</button>
													</div>
												</div>
											</div>
										</div>
										<!-- Modal footer -->
										<div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
											<div class="flex-col w-full">
												<div class="flex items-center">
													<button type="submit" class="text-white bg-lightblue dark:bg-darkblue hover:bg-darkblue/60 dark:hover:bg-lightblue focus:text-darkblue focus:ring-2 focus:ring-lightblue dark:focus:text-white dark:focus:ring-2 dark:focus:ring-white font-medium rounded-lg text-sm px-5 py-2.5 text-center">Save</button>
													<button type="button" id="Disable2FAButton" class="m-auto mr-1 text-white bg-red-600 dark:bg-red-600 hover:bg-red-600/70 dark:hover:bg-red-600/70 focus:text-red-800 focus:ring-2 focus:ring-red-800 dark:focus:text-white dark:focus:ring-2 dark:focus:ring-white font-medium rounded-lg text-sm px-5 py-2.5 text-center" style="display: none;">Disable 2FA</button>
												</div>
												<div id="editErrorFieldForm" class="flex justify-center p-4 mt-4 mb-2 text-sm text-red-800 rounded-lg bg-red-300 dark:bg-red-600 dark:text-red-300" role="alert" style="display: none;">
													<span class="font-bold">Error !</span>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
		
							<!-- Add user modal -->
								<div id="addUserModal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 items-center justify-center hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
									<div class="relative w-full max-w-2xl max-h-full">
										<!-- Modal content -->
										<form id="addUserForm"  class="relative bg-white rounded-lg shadow dark:bg-gray-700">
											<!-- Modal header -->
											<div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
												<h3 class="text-xl font-semibold text-gray-900 dark:text-white">
													Add user
												</h3>
											<button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="addUserModal">
												<svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
													<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
												</svg>
												<span class="sr-only">Close modal</span>
											</button>
											</div>
											<!-- Modal body -->
											<div class="p-6 space-y-6">
												<div class="grid grid-cols-6 gap-6">
													<div class="col-span-6 sm:col-span-3">
														<label for="first-name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">First Name</label>
														<input type="text" name="firstname" id="firstname" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:border-darkblue block w-full p-2.5 dark:bg-gray-600 dark:border-white dark:placeholder-gray-400 dark:text-white dark:focus:border-darkblue" placeholder="John" required>
													</div>
													<div class="col-span-6 sm:col-span-3">
														<label for="last-name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Last Name</label>
														<input type="text" name="name" id="name" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:border-darkblue block w-full p-2.5 dark:bg-gray-600 dark:border-white dark:placeholder-gray-400 dark:text-white dark:focus:border-darkblue" placeholder="Doe" required>
													</div>
													<div class="col-span-6 sm:col-span-3">
														<label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Username</label>
														<input type="text" name="username" id="username" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:border-darkblue block w-full p-2.5 dark:bg-gray-600 dark:border-white dark:placeholder-gray-400 dark:text-white dark:focus:border-darkblue" placeholder="john.d" required>
													</div>
													<div class="col-span-6 sm:col-span-3">
														<label for="role" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Role</label>
														<select id="role" name="role" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:border-darkblue block w-full p-2.5 dark:bg-gray-600 dark:border-white dark:placeholder-gray-400 dark:text-white dark:focus:border-darkblue">
															<option selected value="User">User</option>
															<option value="Admin">Admin</option>
														</select>
													</div>
													<div class="col-span-6 sm:col-span-3">
														<label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
														<input type="email" name="email" id="email" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:border-darkblue block w-full p-2.5 dark:bg-gray-600 dark:border-white dark:placeholder-gray-400 dark:text-white dark:focus:border-darkblue" placeholder="john.doe@sabu.fr" required>
													</div>
													<div class="col-span-6 sm:col-span-3">
														<label for="job" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Job</label>
														<select name="job" id="job" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:border-darkblue block w-full p-2.5 dark:bg-gray-600 dark:border-white dark:placeholder-gray-400 dark:text-white dark:focus:border-darkblue">
															<option selected>Choose a job</option>
															{% for job in job_list %}
															<option value="{{ job.name }}">{{ job.name }}</option>
															{% endfor %}
														</select>
													</div>
													<div class="col-span-6 sm:col-span-3">
														<label for="AddPassword" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
														<div class="relative">
															<input type="password" name="password" id="AddPassword" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:border-darkblue block w-full p-2.5 dark:bg-gray-600 dark:border-white dark:placeholder-gray-400 dark:text-white dark:focus:border-darkblue" placeholder="••••••••" required>
															<button id="toggleButtonAddPassword" type="button" class="absolute inset-y-0 right-0 px-3 py-2 bg-transparent">
																<div class="text-gray-700 dark:text-white">
																  <i id="toggleviewAddPassword" class="toggleView fa-solid fa-eye"></i>
																</div>
															</button>
														</div>
		
													</div>
													<div class="col-span-6 sm:col-span-3">
														<label for="AddRepeatPassword" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Repeat Password</label>
														<div class="relative">
															<input type="password" name="AddRepeatPassword" id="AddRepeatPassword" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:border-darkblue block w-full p-2.5 dark:bg-gray-600 dark:border-white dark:placeholder-gray-400 dark:text-white dark:focus:border-darkblue" placeholder="••••••••" required>
															<button id="toggleButtonAddRepeatPassword" type="button" class="absolute inset-y-0 right-0 px-3 py-2 bg-transparent">
																<div class="text-gray-700 dark:text-white">
																<i id="toggleviewAddRepeatPassword" class="toggleView fa-solid fa-eye"></i>
																</div>
															</button>
														</div>
													</div>
												</div>
											</div>
											<!-- Modal footer -->
											<div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
												<div class="flex-col w-full">
													<button id="submitAddUserForm" type="submit" class="text-white bg-lightblue dark:bg-darkblue hover:bg-darkblue/60 dark:hover:bg-lightblue focus:text-darkblue focus:ring-2 focus:ring-lightblue dark:focus:text-white dark:focus:ring-2 dark:focus:ring-white font-medium rounded-lg text-sm px-5 py-2.5 text-center">Add</button>
													<div id="alertAddUserForm" class="flex justify-center p-4 mt-4 mb-2 text-sm text-red-800 rounded-lg bg-red-300 dark:bg-red-600 dark:text-red-300" role="alert" style="display: none;">
														<span id="spanErrorAddUserForm" class="font-bold">Error : </span>
													</div>
												</div>
											</div>
										</form>
									</div>
								</div>
		
							<!-- Confirm remove modal -->
							<div id="confirmRemoveModal" data-modal-backdrop="static" tabindex="-1" class="fixed top-0 left-0 right-0 z-50 hidden p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
								<div class="relative w-full max-w-md max-h-full">
									<div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
										<button type="button" class="closeRemoveModal absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="confirmRemoveModal">
											<svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
												<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
											</svg>
											<span class="sr-only">Close modal</span>
										</button>
										<div class="p-6 text-center">
											<svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
												<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
											</svg>
											<h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">Are you sure you want to remove this user ?</h3>
											<button data-modal-hide="confirmRemoveModal" type="button" id="yesButtonDeleteUser" class="closeRemoveModal text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2">
												Yes
											</button>
											<button data-modal-hide="confirmRemoveModal" type="button" class="closeRemoveModal text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">No</button>
										</div>
									</div>
								</div>
							</div>
		
							<!-- Corfirm disable user -->
							<div id="confirmEnableModal" data-modal-backdrop="static" tabindex="-1" class="fixed top-0 left-0 right-0 z-50 hidden p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
								<div class="relative w-full max-w-md max-h-full">
									<div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
										<button type="button" class="closeRemoveModal absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="confirmEnableModal">
											<svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
												<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
											</svg>
											<span class="sr-only">Close modal</span>
										</button>
										<div class="p-6 text-center">
											<svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
												<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
											</svg>
											<h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400"><span id="messageEnablModal">Are you sure you want to remove this user ?<span></h3>
											<button data-modal-hide="confirmEnableModal" type="button" id="yesButtonAbleUser" class="closeRemoveModal text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2">
												Yes
											</button>
											<button data-modal-hide="confirmEnableModal" type="button" class="closeRemoveModal text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">No</button>
										</div>
									</div>
								</div>
							</div>
		
							<!-- Manage job modal -->
							<div id="manageJobModal" tabindex="-1" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
								<div class="relative w-full max-w-2xl max-h-full">
									<!-- Modal content -->
									<div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
										<!-- Modal header -->
										<div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
											<h3 class="text-xl font-semibold text-gray-900 dark:text-white">
												Manage Job
											</h3>
											<button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="manageJobModal">
												<svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
													<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
												</svg>
												<span class="sr-only">Close modal</span>
											</button>
										</div>
										<!-- Modal body -->
										<div class="p-6">
											<form id="AddJobForm">
												<div class="col-span-6 sm:col-span-3">
													<label for="addJob" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Add Job</label>
													<input type="text" name="addJob" id="addJob" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:border-darkblue block w-full p-2.5 dark:bg-gray-600 dark:border-white dark:placeholder-gray-400 dark:text-white dark:focus:border-darkblue" placeholder="Developer">
													<button type="submit" class="mt-4 text-white bg-lightblue dark:bg-darkblue hover:bg-darkblue/60 dark:hover:bg-lightblue focus:text-darkblue focus:ring-2 focus:ring-lightblue dark:focus:text-white dark:focus:ring-2 dark:focus:ring-white font-medium rounded-lg text-sm px-5 py-2.5 text-center">Add</button>
												</div>
											</form>
										</div>                
										<!-- Modal footer -->
										<div class="p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
											<form id="RemoveJobForm">
												<div class="col-span-6 sm:col-span-3">
													<label for="job" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Remove Job</label>
													<select id="job_remove" name="RemoveJob" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:border-darkblue block w-full p-2.5 dark:bg-gray-600 dark:border-white dark:placeholder-gray-400 dark:text-white dark:focus:border-darkblue">
														<option selected>Choose a job</option>
														{% for job in job_list %}
															<option value="{{ job.name }}">{{ job.name }}</option>
														{% endfor %}
													</select>
													<button type="submit" class="mt-4 text-white bg-red-600 dark:bg-red-600 hover:bg-red-600/70 dark:hover:bg-red-600/70 focus:text-red-800 focus:ring-2 focus:ring-red-800 dark:focus:text-white dark:focus:ring-2 dark:focus:ring-white font-medium rounded-lg text-sm px-5 py-2.5 text-center">Remove</button>
												</div>
											</form>
											<div id="ErrorJob" style="display: none;" class="flex justify-center p-4 mt-4 mb-2 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
												<span id="ErrorJobMSG" class="font-bold">Error !</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

{% endblock %}
{% block scripts %}
<script type="text/javascript">
	var csrf_token = "{{ csrf_token() }}";
	var urlDelete = "{{ url_for('panel.users.del_user') }}";
	var urlModifyQuery = "{{ url_for('panel.users.mod_user_query') }}";
	var urlAdd = "{{ url_for('panel.users.add_user') }}";
	var urlModify = "{{ url_for('panel.users.mod_user') }}";
	var urlDisTotp = "{{ url_for('panel.users.mod_user_disable_otp') }}";
	var urlAble = "{{ url_for('panel.users.able_user') }}";
	var urlAddJob = "{{ url_for('panel.users.add_job') }}";
	var urlRemoveJob = "{{ url_for('panel.users.remove_job') }}";
</script>
<script src="{{ url_for('static',filename='js/scripts/users.js') }}"></script>
{% endblock %}