<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SABU | Profil</title>
    <link rel="icon" type="image/x-icon" href="/static/assets/icons/sabu.ico">
    <!-- import tailwind -->
    <link rel="stylesheet" href="/static/dist/output.css">
    <!-- import fontawesome -->
    <link rel="stylesheet" href="/static/assets/fontawesome/css/all.css">
</head>
<body class="bg-gray-100">
    <!-- NAV BAR -->
    <nav class="fixed top-0 w-full bg-white shadow-md">
        <div class="px-3 py-3 lg:px-5 lg:pl-3">
        <div class="flex items-center justify-between">
            <div class="flex items-center justify-start">
                <!-- button allow in small-screen -->
                <button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar" type="button" class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
                    <span class="sr-only">Open sidebar</span>
                    <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
                    </svg>
                </button>

                <div class="flex ml-72 md:mr-24">
                    <span class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap dark:text-white">Profil</span>
                </div>
            </div>
            
            <!-- RIGHT NAV BAR -->
            <div class="flex items-center">
                <!-- BELL BUTTON -->
                <button id="dropdownAlertsButton" data-dropdown-toggle="dropdownAlerts" class="mr-8 relative border-2 border-transparent text-gray-800 rounded-full hover:text-gray-400 focus:outline-none focus:text-gray-500 transition duration-150 ease-in-out" aria-label="Cart">
                    <div class="text-dark text-xl">
                        <i class="fa-solid fa-bell"></i>
                    </div>
                    <span class="absolute inset-0 object-right-top -mr-5 -mt-2">
                      <div class="inline-flex items-center px-1.5 py-0.5 rounded-full text-xs font-semibold leading-4 bg-red-500 text-white">
                        3
                      </div>
                    </span>
                </button>
                <!-- Dropdown bell -->
                <div id="dropdownAlerts" class="z-20 hidden w-72 max-w-sm bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-800 dark:divide-gray-700" aria-labelledby="dropdownAlerts">
                <div class="block px-4 py-2 font-medium text-center text-gray-700 rounded-t-lg bg-gray-100 dark:bg-gray-800 dark:text-white">
                    Alerts
                </div>
                <div class="py-2 divide-y divide-gray-100 dark:divide-gray-700">
                    <a href="#" class="flex px-4 py-3 hover:bg-gray-100 dark:hover:bg-gray-700">
                    <div class="w-full pl-3">
                        <div class="text-gray-500 text-sm mb-1.5 dark:text-gray-400"><span class="font-semibold text-gray-900 dark:text-white">ENDPOINT1</span> Disconnected</div>
                        <div class="text-xs text-blue-600 dark:text-blue-500">a few moments ago</div>
                    </div>
                    </a>
                    <a href="#" class="flex px-4 py-3 hover:bg-gray-100 dark:hover:bg-gray-700">
                    <div class="w-full pl-3">
                        <div class="text-gray-500 text-sm mb-1.5 dark:text-gray-400"><span class="font-semibold text-gray-900 dark:text-white">SABU SERVER</span> Disk is full</div>
                        <div class="text-xs text-blue-600 dark:text-blue-500">10 minutes ago</div>
                    </div>
                    </a>
                    <a href="#" class="flex px-4 py-3 hover:bg-gray-100 dark:hover:bg-gray-700">
                    <div class="w-full pl-3">
                        <div class="text-gray-500 text-sm mb-1.5 dark:text-gray-400"><span class="font-semibold text-gray-900 dark:text-white">ENDPOINT2</span> is not reachable</div>
                        <div class="text-xs text-blue-600 dark:text-blue-500">44 minutes ago</div>
                    </div>
                    </a>
                </div>
                <a href="#" class="block py-2 text-sm font-medium text-center text-gray-900 rounded-b-lg bg-gray-50 hover:bg-gray-100 dark:bg-gray-800 dark:hover:bg-gray-700 dark:text-white">
                    <div class="inline-flex items-center ">
                        <div>
                            <i class="fa-solid fa-eye"></i>
                            View all
                        </div>
                    </div>
                </a>
                </div>

                <!-- MENU BUTTON -->
                <button id="dropdownMenuButton" data-dropdown-toggle="dropdownMenu" class="mr-8 relative border-2 border-transparent text-dark rounded-full hover:text-gray-400 focus:outline-none focus:text-gray-500 transition duration-150 ease-in-out" aria-label="Cart">
                    <div class="text-xl">
                        <i class="fa-solid fa-bars"></i>
                    </div>
                </button>
                <!-- Dropdown MENU -->
                <div id="dropdownMenu" class="z-20 hidden w-48 max-w-sm bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-800 dark:divide-gray-700" aria-labelledby="dropdownMenu">
                <div class="block px-4 py-2 font-medium text-center text-gray-700 rounded-t-lg bg-gray-100 dark:bg-gray-800 dark:text-white">
                    Shortcut
                </div>
                <div class="divide-gray-100">
                    <div class="flex justify-center space-x-4 p-2">
                        <!-- addEndpoint -->
                        <div class="flex items-center justify-center h-10 w-10 rounded text-2xl bg-gray-100 hover:bg-gray-200">
                            <i class="fa-solid fa-desktop"></i>
                        </div>
                        <!-- addUser -->
                        <div class="flex items-center justify-center h-10 w-10 rounded text-2xl bg-gray-100 hover:bg-gray-200">
                            <button id="adduser" type="button">
                                <i class="fa-solid fa-user-plus"></i>
                            </button>
                        </div>
                        <!-- addUSB -->
                        <div class="flex items-center justify-center h-10 w-10 rounded text-2xl bg-gray-100 hover:bg-gray-200">
                            <i class="fa-brands fa-usb"></i>
                        </div>
                    </div>
                    <div class="flex justify-center space-x-4 p-2">
                        <!-- browser-admin shortcut -->
                        <a href="#">
                            <div class="flex items-center justify-center h-10 w-10 rounded text-2xl bg-gray-100 hover:bg-gray-200">
                                <i class="fa-solid fa-folder-tree"></i>
                            </div>
                        </a>
                        <!-- remote ssh -->
                        <div class="flex items-center justify-center h-10 w-10 rounded text-2xl bg-gray-100 hover:bg-gray-200">
                            <i class="fa-solid fa-terminal"></i>
                        </div>
                        <!-- power -->
                        <div class="flex items-center justify-center h-10 w-10 rounded text-2xl bg-gray-100 hover:bg-gray-200">
                            <button id="dropdownPowerButton" data-dropdown-toggle="dropdownPowerButtonBottom" data-dropdown-placement="bottom" data-dropdown-offset-distance="15" type="button">
                                <i class="fa-solid fa-power-off"></i>
                            </button>
                            <!-- Dropdown power -->
                            <div id="dropdownPowerButtonBottom" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-24 dark:bg-gray-700">
                                <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownPowerButton">
                                    <li>
                                        <a href="#" data-modal-target="staticModal" data-modal-toggle="staticModal" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Reboot</a>
                                    </li>
                                    <li>
                                        <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Shutdown</a>
                                     </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="block py-2 text-sm font-medium text-center text-gray-900 rounded-b-lg bg-gray-50 hover:bg-gray-100 dark:bg-gray-800 dark:hover:bg-gray-700 dark:text-white">
                        <div class="inline-flex items-center ">
                            <div>
                                <i class="fa-solid fa-circle-question"></i>
                                Help
                            </div>
                        </div>
                    </a>
                </div>
                </div>
                
                <!-- USER BUTTON -->
                <div>
                    <button type="button" class="flex text-sm bg-gray-800 rounded-full focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" aria-expanded="false" data-dropdown-toggle="dropdown-user">
                    <span class="sr-only">Open user menu</span>
                    <div class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-dark rounded-full dark:bg-gray-600">
                        <span class="font-bold text-white dark:text-gray-300">JD</span>
                    </div>

                    </button>
                </div>
                <!-- Dropdown user -->
                <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded shadow dark:bg-gray-700 dark:divide-gray-600" id="dropdown-user">
                    <div class="px-8 py-3 bg-gray-100" role="none">
                    <p class="text-sm font-semibold text-gray-900 dark:text-white" role="none">
                        John DOE
                    </p>
                    <p class="text-sm font-medium text-gray-900 truncate dark:text-gray-300" role="none">
                        Administrator
                    </p>
                    </div>
                    <ul class="py-1" role="none">
                    <li>
                        <a href="server_ap_srv_user-settings.html" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">
                            <div>
                                <i class="fa-solid fa-circle-user"></i>
                                Profil
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="" class="flex items-center block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">
                            <div>
                                <i class="fa-solid fa-moon"></i>
                                Dark mode  
                            </div>
                            
                            <label class="ml-2 relative inline-flex items-center cursor-pointer">
                              <input type="checkbox" value="" class="sr-only peer">
                              <div class="w-11 h-6 bg-gray-200 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
                              <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300"></span>
                            </label>
                        </a>
                    </li>
                    </ul>
                    <ul class="py-1" role="none">
                    <li>
                        <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">
                            <div>
                                <i class="fa-solid fa-right-from-bracket"></i>
                                Sign out
                            </div>
                        </a>
                    </li>
                    </ul>
                </div>
                </div>
            </div>
        </div>
        </div>
    </nav>
    
    <!--SIDEBAR -->
    <aside id="logo-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen pt-6 transition-transform -translate-x-full bg-slate-800 sm:translate-x-0" aria-label="Sidebar">
        <div class="flex ml-2 md:mr-24 mb-6 ml-4">
            <img src="../static/assets/icons/logo_sabu.png" class="h-10 mr-3 rounded-full" alt="Logo" />
            <span class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap text-white">SABU SERVER</span>
        </div>
        <div class="h-full px-3 pb-4 pt-6 overflow-y-auto bg-slate-700">
            <ul class="space-y-2 font-medium">
            <li>
                <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-500">
                    <div class="text-white">
                        <i class="fa-solid fa-house"></i>
                    </div>
                    <span class="ml-3 px-1 text-white">Home</span>
                </a>
            </li>
            <div class="pt-4 font-medium border-b border-white"></div>
            <div class="pt-2 text-white text-sm font-semibold">Management</div>
            <li>
                <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-500 ml-4">
                    <div class="text-white">
                        <i class="fa-solid fa-chart-pie"></i>
                    </div>
                    <span class="ml-3 px-1 text-white">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-500 ml-4">
                    <div class="text-white">
                        <i class="fa-regular fa-file-lines"></i>
                    </div>
                    <span class="ml-4 px-2 text-white">Logs</span>
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-500 ml-4">
                    <div class="text-white">
                        <i class="fa-solid fa-folder-tree"></i>
                    </div>
                    <span class="ml-2 px-2 text-white">Browser</span>
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-500 ml-4">
                    <div class="text-white">
                        <i class="fa-solid fa-users"></i>
                    </div>
                    <span class="flex-1 ml-3 whitespace-nowrap text-white">Users</span>
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-500 ml-4">
                    <div class="text-white">
                        <i class="fa-brands fa-usb"></i>
                    </div>
                    <span class="ml-3 text-white">USB Keys</span>
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-500 ml-4">
                    <div class="text-white">
                        <i class="fa-solid fa-gear"></i>
                    </div>
                    <span class="ml-3 px-1 text-white">Settings</span>
                </a>
            </li>
            <div class="pt-4 font-medium border-b border-white"></div>
            <div class="pt-2 text-white text-sm font-semibold">Equipment</div>
            <li>
                <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-500 ml-4">
                    <div class="text-white">
                        <i class="fa-solid fa-server"></i>
                    </div>
                    <span class="ml-3 px-1 text-white">Manage Server</span>
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-500 ml-4">
                    <div class="text-white">
                        <i class="fa-solid fa-desktop"></i>
                    </div>
                    <span class="ml-3 px-1 text-white">Manage Endpoints</span>
                </a>
            </li>
            </ul>

            <div class="fixed bottom-0 mb-4">
                <div class="text-white font-semibold ml-16">SABU - V2.0</div>
            </div>
        </div>
    </aside>

    <!-- PROFIL SETTINGS -->
    <div class="p-4 sm:ml-64">
        <div class="p-12 mt-14">
            <div class="grid grid-cols-2 gap-12 mb-12">
                <!-- Profile photo -->
                <div class="bg-white rounded-lg shadow-md">
                    <h1 class="flex justify-center p-4 text-2xl">Profil Photo</h1>
                    <div class="flex justify-center mt-8 mb-8">
                        <div class="flex items-center justify-center w-52 h-52 overflow-hidden bg-gray-300 rounded-full dark:bg-gray-600">
                            <span class="font-bold text-6xl text-gray-600 dark:text-gray-300">JD</span>
                        </div>
                    </div>
                    <div class="flex justify-center">
                        <div class="flex-col">
                            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="fileInput">Upload file</label>
                            <input class="block w-96 text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" aria-describedby="fileInputHelp" id="fileInput" type="file">
                            <p class="mt-1 text-sm text-gray-500 dark:text-gray-300" id="fileInputHelp">PNG or JPG (MAX. 400x400px).</p>
                        </div>
                    </div>
                    <div class="flex justify-end mr-12 mb-4">
                        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Save</button>
                    </div>
                </div>

                <!-- Profil information -->
                <div class="bg-white rounded-lg shadow-md">
                    <h1 class="flex justify-center p-4 text-2xl">Profil Information</h1>
                    <div class="flex-col ml-20 mt-4">
                        <label for="FirstName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">First Name</label>
                        <div class="flex mb-4">
                            <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border border-r-0 border-gray-300 rounded-l-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
                                <i class="fa-solid fa-user-tie"></i>
                            </span>
                            <input type="text" id="FirstName" class="rounded-none rounded-r-lg bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block min-w-0 w-96 text-sm p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="NAME_PERSON">
                        </div>

                        <label for="LastName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Last Name</label>
                        <div class="flex mb-4">
                            <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border border-r-0 border-gray-300 rounded-l-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
                                <i class="fa-solid fa-user-tie"></i>
                            </span>
                            <input type="text" id="LastName" class="rounded-none rounded-r-lg bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block min-w-0 w-96 text-sm p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="NAME_PERSON">
                        </div>

                        <label for="Job" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Job</label>
                        <div class="flex mb-4">
                            <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border border-r-0 border-gray-300 rounded-l-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
                                <i class="fa-solid fa-briefcase"></i>
                            </span>
                            <input type="text" id="Job" class="rounded-none rounded-r-lg bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block min-w-0 w-96 text-sm p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="JOB_PERSON">
                        </div>

                        <label for="Email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                        <div class="flex mb-4">
                            <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border border-r-0 border-gray-300 rounded-l-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
                                <i class="fa-solid fa-at"></i>
                            </span>
                            <input type="email" id="Email" class="rounded-none rounded-r-lg bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block min-w-0 w-96 text-sm p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="person@email.com">
                        </div>
                    </div>
                    <div class="flex justify-end mr-12 mb-4">
                        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Save</button>
                    </div>
                </div>
            </div>
            <div class="grid grid-cols-2 gap-12 mb-4">
                <!-- Password information -->
                <div class="bg-white rounded-lg shadow-md">
                    <h1 class="flex justify-center p-4 text-2xl">Update Password</h1>
                    <div class="flex-col">
                        <form>
                            <div class="mb-4 ml-20">
                                <label for="currentPassword" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Current Password</label>
                                <div class="relative">
                                    <input type="password" id="currentPassword" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-9/12 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" placeholder="••••••••" required>
                                    <button id="toggleButtonCurrentPassword" type="button" class="absolute inset-y-0 right-44 px-3 py-2 bg-transparent">
                                        <div class="text-gray-500">
                                          <i id="toggleButtonViewCurrentPassword" class="fa-solid fa-eye"></i>
                                        </div>
                                    </button>
                                </div>
                            </div>
                            <div class="mb-4 ml-20">
                                <label for="newPassword" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">New Password</label>
                                <div class="relative">
                                    <input type="password" id="newPassword" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-9/12 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" placeholder="••••••••" required>
                                    <button id="toggleButtonNewPassword" type="button" class="absolute inset-y-0 right-44 px-3 py-2 bg-transparent">
                                        <div class="text-gray-500">
                                          <i id="toggleButtonViewNewPassword" class="fa-solid fa-eye"></i>
                                        </div>
                                    </button>
                                </div>
                            </div>
                            <div class="mb-4 ml-20">
                                <label for="RepeatNewPassword" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Repeat Password</label>
                                <div class="relative">
                                    <input type="password" id="RepeatNewPassword" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-9/12 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" placeholder="••••••••" required>
                                    <button id="toggleButtonRepeatNewPassword" type="button" class="absolute inset-y-0 right-44 px-3 py-2 bg-transparent">
                                        <div class="text-gray-500">
                                          <i id="toggleButtonViewRepeatNewPassword" class="fa-solid fa-eye"></i>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="flex justify-end mr-12 mb-4">
                        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Save</button>
                    </div>
                </div>

                <!-- MFA information -->
                <div class="bg-white rounded-lg shadow-md">
                    <h1 class="flex justify-center p-4 text-2xl">Two Factor Authentication</h1>
                    <p class="flex justify-center ml-4 mb-4 p-4">When two factor authentication is enabled, you will be prompted for a secure, random token during authentication. You may retrieve this token from your phone's authenticator application.</p>
                    <div class="p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400 flex justify-center ml-12 mr-12" role="alert">
                        <span class="font-bold">You have enabled two factor authentication !</span>
                    </div>
                    <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 flex justify-center ml-12 mr-12" role="alert">
                        <span class="font-bold">You have not enabled two-factor authentication !</span>
                    </div>

                    <div class="flex justify-end mr-12 mb-4">
                        <button type="submit" class="text-white bg-green-700 hover:bg-green-500 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Enabled</button>
                        <button type="submit" class="text-white bg-red-700 hover:bg-red-500 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Disabled</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ALERTS -->
    <div class="flex justify-end m-auto fixed right-4 bottom-2">
        <div id="error-alert" class="flex items-center p-4 mb-4 text-red-800 rounded-lg bg-red-300 dark:bg-gray-800 dark:text-red-400" role="alert">
            <svg class="flex-shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
            </svg>
            <span class="sr-only">Info</span>
            <div class="ml-3 mr-2 text-sm font-medium">
              <span class="font-bold">Error !</span> Explain...
            </div>
              <button type="button" class="ml-auto -mx-1.5 -my-1.5 bg-red-300 text-red-500 rounded-lg focus:ring-2 focus:ring-red-400 p-1.5 hover:bg-red-200 inline-flex items-center justify-center h-8 w-8 dark:bg-gray-800 dark:text-red-400 dark:hover:bg-gray-700" data-dismiss-target="#error-alert" aria-label="Close">
                <span class="sr-only">Close</span>
                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                </svg>
            </button>
          </div>
    </div>
  

    <!-- import flowbite lib js -->
    <script src="../static/node_modules/flowbite/dist/flowbite.min.js"></script>

    <!-- js view mdp -->
    <script>
        const toggleButtonCurrentPassword = document.getElementById('toggleButtonCurrentPassword');
        const toggleButtonNewPassword = document.getElementById('toggleButtonNewPassword');
        const toggleButtonRepeatNewPassword = document.getElementById('toggleButtonRepeatNewPassword');
        const currentPassword = document.getElementById('currentPassword');
        const newPassword = document.getElementById('newPassword');
        const RepeatNewPassword = document.getElementById('RepeatNewPassword');
        

        toggleButtonCurrentPassword.addEventListener('click', function() {
            if (currentPassword.type === 'password') {
                currentPassword.type = 'text';
            document.getElementById("toggleButtonViewCurrentPassword").classList.remove("fa-eye");
            document.getElementById("toggleButtonViewCurrentPassword").classList.add("fa-eye-slash");
            } else {
                currentPassword.type = 'password';
            document.getElementById("toggleButtonViewCurrentPassword").classList.remove("fa-eye-slash");
            document.getElementById("toggleButtonViewCurrentPassword").classList.add("fa-eye");
            }
        });
        toggleButtonNewPassword.addEventListener('click', function() {
            if (newPassword.type === 'password') {
                newPassword.type = 'text';
            document.getElementById("toggleButtonViewNewPassword").classList.remove("fa-eye");
            document.getElementById("toggleButtonViewNewPassword").classList.add("fa-eye-slash");
            } else {
                newPassword.type = 'password';
            document.getElementById("toggleButtonViewNewPassword").classList.remove("fa-eye-slash");
            document.getElementById("toggleButtonViewNewPassword").classList.add("fa-eye");
            }
        });
        toggleButtonRepeatNewPassword.addEventListener('click', function() {
            if (RepeatNewPassword.type === 'password') {
                RepeatNewPassword.type = 'text';
            document.getElementById("toggleButtonViewRepeatNewPassword").classList.remove("fa-eye");
            document.getElementById("toggleButtonViewRepeatNewPassword").classList.add("fa-eye-slash");
            } else {
                RepeatNewPassword.type = 'password';
            document.getElementById("toggleButtonViewRepeatNewPassword").classList.remove("fa-eye-slash");
            document.getElementById("toggleButtonViewRepeatNewPassword").classList.add("fa-eye");
            }
        });
    </script>
</body>
</html>