<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SABU | Login MFA</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="{{  url_for('static',filename='dist/output.css') }}"></script>
    <script src="{{  url_for('static',filename='node_modules/flowbite/dist/flowbite.min.js') }}"></script>
</head>
<body>
    <section class="bg-gradient-to-b from-sky-500 to-sky-900">
        <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
            <img class="w-18 h-18 mr-2 mb-4 rounded-full" src="../static/assets/icons/logo_sabu.png" alt="logo">    
            <div class="flex items-center text-2xl pb-6 font-semibold text-white">SABU SERVER</div>
            <div class="w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0">
                <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                    <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">
                        Multi-Factor Authentication
                    </h1>
                    <form method="POST" class="space-y-4 md:space-y-6" action="{{ url_for('login.mfa') }}">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <div>
                            <label for="totp" class="block mb-2 text-sm font-medium text-gray-900">TOTP CODE</label>
                            <input type="totp" name="totp" id="totp" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="123456" required="">
                        </div>
                        <button type="submit" data-modal-target="defaultModal" data-modal-toggle="defaultModal" class="w-full text-dark bg-slate-200 hover:bg-gray-400 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Send</button>
                    </form>
                    <!-- alert msg connection -->
                    <div id="successful" class="p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400 flex justify-center" style="display: none;" role="alert">
                        <span class="font-bold">Connection successful !</span>
                    </div>
                    <div id="failed" class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 flex justify-center" style="display: none;" role="alert">
                        <span class="font-bold">Connection failed !</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript">
        var con = "{{ con }}"
        if(con == "ok"){
            document.getElementById("successful").style = "display: True;"
            setTimeout(function(){window.location.reload();},1000);
        }else if(con == "ko"){
            document.getElementById("failed").style = "display: True;"
        }

    </script>
</body>
</html>