<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SABU | Login 2FA</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='assets/icons/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/fontawesome/css/all.css') }}">
    <link rel="stylesheet" href="{{  url_for('static',filename='css/output.css') }}">
</head>
<body class="bg-[#ccd8de]">
    <!-- TOTP SECTION -->
    <div class="h-screen flex justify-center items-center shadow-lg">
        <div class="flex bg-darkblue rounded-xl">
            <img src="{{  url_for('static',filename='assets/icons/shield-sabu.png') }}" alt="LOGO SABU">

            <div class="flex items-center bg-white rounded-r-xl">
                <form class="flex-col justify-center space-y-8 mx-8 w-80" action="{{ url_for('login.mfa') }}" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <div class="flex justify-center">
                        <img src="{{ url_for('static',filename='assets/icons/logo-blue-sabu_server.png') }}" width=70% height=20%>
                    </div>
                    <h1 class="text-2xl">Two Factor Authentication</h1>
                    <div class="relative z-0">
                        <input type="text" name="totp" id="totp" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-darkblue peer" placeholder=" " required />
                        <label for="totp" class="absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 peer-focus:text-darkblue peer-focus:dark:text-darkblue peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">Code</label>
                    </div>
                    <div class="flex justify-center mt-42">
                        <button type="submit" class="bg-darkblue px-8 py-2 rounded-lg text-white hover:bg-lightblue">Send</button>
                    </div>
                    <!-- alert msg connection -->
                    <div id="successful" class="p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-300 flex justify-center" style="display: none;" role="alert">
                        <span class="font-bold">Connection successful !</span>
                    </div>
                    <div id="failed" class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-300 flex justify-center" style="display: none;" role="alert">
                        <span class="font-bold">Connection failed !</span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static',filename='node_modules/flowbite/dist/flowbite.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/modules/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/scripts/main.js') }}"></script>
    <script type="text/javascript">
        var con = "{{ con }}"
        if(con == "ok"){
            document.getElementById("successful").style = "display: True;"
            setTimeout(function(){window.location = location.protocol+"//"+document.domain+":"+location.port;},1000);
        }else if(con == "ko"){
            document.getElementById("failed").style = "display: True;"
        }
    </script>
</body>
</html>