[Unit]
Description=CELERY-worker
After=network.target

[Service]
User=svc-sabu
Group=svc-sabu
WorkingDirectory=/sabu/server/
ExecStart=/sabu/venv-sabu/bin/celery -A app.celery.scanner worker --loglevel=info
StandardOutput=append:/sabu/logs/server/celery_output.log
StandardError=append:/sabu/logs/server/celery_error.log

[Install]
WantedBy=multi-user.target