[Unit]
Description=SABU-SERVER
After=network.target
StartLimitInterval=200
StartLimitBurst=5

[Service]
User=svc-sabu
Group=svc-sabu
WorkingDirectory=/sabu/server/
ExecStart=/sabu/venv-sabu/bin/python server.py
StandardOutput=append:/sabu/logs/server/flask-gui_access.log
StandardError=append:/sabu/logs/server/flask-gui_error.log
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
