<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SABU | Error 404</title>
	<link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='assets/icons/sabu.ico') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='css/output.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='assets/fontawesome/css/all.css') }}">
</head>
<body class="bg-gradient-to-b from-lightblue to-darkblue">
    <div class="flex justify-center items-center h-screen">
        <div class="flex-col space-y-4">
            <div class="text-6xl text-white flex justify-center items-center"><i class="fa-solid fa-triangle-exclamation"></i></div>
            <h1 class="text-6xl text-white font-semibold flex justify-center items-center">Error 404</h1>
        </div>
    </div>
</body>
</html>