<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SABU | Home</title>
    <link rel="icon" type="image/x-icon" href="/static/assets/icons/sabu.ico">
    <!-- import tailwind -->
    <link rel="stylesheet" href="/static/dist/output.css">
    <!-- import fontawesome -->
    <link rel="stylesheet" href="/static/assets/fontawesome/css/all.css">

</head>
<body class="bg-gray-100">
    <!-- NAV BAR -->
    <nav class="fixed top-0 w-full bg-white shadow-md">
        <div class="px-3 py-3 lg:px-5 lg:pl-3">
        <div class="flex items-center justify-between">
            <div class="flex items-center justify-start">
                <!-- button allow in small-screen -->
                <button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar" type="button" class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
                    <span class="sr-only">Open sidebar</span>
                    <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
                    </svg>
                </button>

                <div class="flex ml-72 md:mr-24">
                    <span class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap dark:text-white">Home</span>
                </div>
            </div>
            
            <!-- RIGHT NAV BAR -->
            <div class="flex items-center">
                <!-- BELL BUTTON -->
                <button id="dropdownAlertsButton" data-dropdown-toggle="dropdownAlerts" class="mr-8 relative border-2 border-transparent text-gray-800 rounded-full hover:text-gray-400 focus:outline-none focus:text-gray-500 transition duration-150 ease-in-out" aria-label="Cart">
                    <div class="text-dark text-xl">
                        <i class="fa-solid fa-bell"></i>
                    </div>
                    <span class="absolute inset-0 object-right-top -mr-5 -mt-2">
                      <div class="inline-flex items-center px-1.5 py-0.5 rounded-full text-xs font-semibold leading-4 bg-red-500 text-white">
                        3
                      </div>
                    </span>
                </button>
                <!-- Dropdown bell -->
                <div id="dropdownAlerts" class="z-20 hidden w-72 max-w-sm bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-800 dark:divide-gray-700" aria-labelledby="dropdownAlerts">
                <div class="block px-4 py-2 font-medium text-center text-gray-700 rounded-t-lg bg-gray-100 dark:bg-gray-800 dark:text-white">
                    Alerts
                </div>
                <div class="py-2 divide-y divide-gray-100 dark:divide-gray-700">
                    <a href="#" class="flex px-4 py-3 hover:bg-gray-100 dark:hover:bg-gray-700">
                    <div class="w-full pl-3">
                        <div class="text-gray-500 text-sm mb-1.5 dark:text-gray-400"><span class="font-semibold text-gray-900 dark:text-white">ENDPOINT1</span> Disconnected</div>
                        <div class="text-xs text-blue-600 dark:text-blue-500">a few moments ago</div>
                    </div>
                    </a>
                    <a href="#" class="flex px-4 py-3 hover:bg-gray-100 dark:hover:bg-gray-700">
                    <div class="w-full pl-3">
                        <div class="text-gray-500 text-sm mb-1.5 dark:text-gray-400"><span class="font-semibold text-gray-900 dark:text-white">SABU SERVER</span> Disk is full</div>
                        <div class="text-xs text-blue-600 dark:text-blue-500">10 minutes ago</div>
                    </div>
                    </a>
                    <a href="#" class="flex px-4 py-3 hover:bg-gray-100 dark:hover:bg-gray-700">
                    <div class="w-full pl-3">
                        <div class="text-gray-500 text-sm mb-1.5 dark:text-gray-400"><span class="font-semibold text-gray-900 dark:text-white">ENDPOINT2</span> is not reachable</div>
                        <div class="text-xs text-blue-600 dark:text-blue-500">44 minutes ago</div>
                    </div>
                    </a>
                </div>
                <a href="#" class="block py-2 text-sm font-medium text-center text-gray-900 rounded-b-lg bg-gray-50 hover:bg-gray-100 dark:bg-gray-800 dark:hover:bg-gray-700 dark:text-white">
                    <div class="inline-flex items-center ">
                        <div>
                            <i class="fa-solid fa-eye"></i>
                            View all
                        </div>
                    </div>
                </a>
                </div>

                <!-- MENU BUTTON -->
                <button id="dropdownMenuButton" data-dropdown-toggle="dropdownMenu" class="mr-8 relative border-2 border-transparent text-dark rounded-full hover:text-gray-400 focus:outline-none focus:text-gray-500 transition duration-150 ease-in-out" aria-label="Cart">
                    <div class="text-xl">
                        <i class="fa-solid fa-bars"></i>
                    </div>
                </button>
                <!-- Dropdown MENU -->
                <div id="dropdownMenu" class="z-20 hidden w-48 max-w-sm bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-800 dark:divide-gray-700" aria-labelledby="dropdownMenu">
                <div class="block px-4 py-2 font-medium text-center text-gray-700 rounded-t-lg bg-gray-100 dark:bg-gray-800 dark:text-white">
                    Shortcut
                </div>
                <div class="divide-gray-100">
                    <div class="flex justify-center space-x-4 p-2">
                        <!-- addEndpoint -->
                        <div class="flex items-center justify-center h-10 w-10 rounded text-2xl bg-gray-100 hover:bg-gray-200">
                            <i class="fa-solid fa-desktop"></i>
                        </div>
                        <!-- addUser -->
                        <div class="flex items-center justify-center h-10 w-10 rounded text-2xl bg-gray-100 hover:bg-gray-200">
                            <button id="adduser" type="button">
                                <i class="fa-solid fa-user-plus"></i>
                            </button>
                        </div>
                        <!-- addUSB -->
                        <div class="flex items-center justify-center h-10 w-10 rounded text-2xl bg-gray-100 hover:bg-gray-200">
                            <i class="fa-brands fa-usb"></i>
                        </div>
                    </div>
                    <div class="flex justify-center space-x-4 p-2">
                        <!-- browser-admin shortcut -->
                        <a href="#">
                            <div class="flex items-center justify-center h-10 w-10 rounded text-2xl bg-gray-100 hover:bg-gray-200">
                                <i class="fa-solid fa-folder-tree"></i>
                            </div>
                        </a>
                        <!-- remote ssh -->
                        <div class="flex items-center justify-center h-10 w-10 rounded text-2xl bg-gray-100 hover:bg-gray-200">
                            <i class="fa-solid fa-terminal"></i>
                        </div>
                        <!-- power -->
                        <div class="flex items-center justify-center h-10 w-10 rounded text-2xl bg-gray-100 hover:bg-gray-200">
                            <button id="dropdownPowerButton" data-dropdown-toggle="dropdownPowerButtonBottom" data-dropdown-placement="bottom" data-dropdown-offset-distance="15" type="button">
                                <i class="fa-solid fa-power-off"></i>
                            </button>
                            <!-- Dropdown power -->
                            <div id="dropdownPowerButtonBottom" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-24 dark:bg-gray-700">
                                <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownPowerButton">
                                    <li>
                                        <a href="#" data-modal-target="staticModal" data-modal-toggle="staticModal" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Reboot</a>
                                    </li>
                                    <li>
                                        <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Shutdown</a>
                                     </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="block py-2 text-sm font-medium text-center text-gray-900 rounded-b-lg bg-gray-50 hover:bg-gray-100 dark:bg-gray-800 dark:hover:bg-gray-700 dark:text-white">
                        <div class="inline-flex items-center ">
                            <div>
                                <i class="fa-solid fa-circle-question"></i>
                                Help
                            </div>
                        </div>
                    </a>
                </div>
                </div>
                
                <!-- USER BUTTON -->
                <div>
                    <button type="button" class="flex text-sm bg-gray-800 rounded-full focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" aria-expanded="false" data-dropdown-toggle="dropdown-user">
                    <span class="sr-only">Open user menu</span>
                    <div class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-dark rounded-full dark:bg-gray-600">
                        <span class="font-bold text-white dark:text-gray-300">JD</span>
                    </div>

                    </button>
                </div>
                <!-- Dropdown user -->
                <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded shadow dark:bg-gray-700 dark:divide-gray-600" id="dropdown-user">
                    <div class="px-8 py-3 bg-gray-100" role="none">
                    <p class="text-sm font-semibold text-gray-900 dark:text-white" role="none">
                        John DOE
                    </p>
                    <p class="text-sm font-medium text-gray-900 truncate dark:text-gray-300" role="none">
                        Administrator
                    </p>
                    </div>
                    <ul class="py-1" role="none">
                    <li>
                        <a href="server_ap_srv_user-settings.html" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">
                            <div>
                                <i class="fa-solid fa-circle-user"></i>
                                Profil
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="" class="flex items-center block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">
                            <div>
                                <i class="fa-solid fa-moon"></i>
                                Dark mode  
                            </div>
                            
                            <label class="ml-2 relative inline-flex items-center cursor-pointer">
                              <input type="checkbox" value="" class="sr-only peer">
                              <div class="w-11 h-6 bg-gray-200 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
                              <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300"></span>
                            </label>
                        </a>
                    </li>
                    </ul>
                    <ul class="py-1" role="none">
                    <li>
                        <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">
                            <div>
                                <i class="fa-solid fa-right-from-bracket"></i>
                                Sign out
                            </div>
                        </a>
                    </li>
                    </ul>
                </div>
                </div>
            </div>
        </div>
        </div>
    </nav>
    
    <!--SIDEBAR -->
    <aside id="logo-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen pt-6 transition-transform -translate-x-full bg-slate-800 sm:translate-x-0" aria-label="Sidebar">
        <div class="flex ml-2 md:mr-24 mb-6 ml-4">
            <img src="../static/assets/icons/logo_sabu.png" class="h-10 mr-3 rounded-full" alt="Logo" />
            <span class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap text-white">SABU SERVER</span>
        </div>
        <div class="h-full px-3 pb-4 pt-6 overflow-y-auto bg-slate-700">
            <ul class="space-y-2 font-medium">
            <li>
                <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-500 border-r-8 bg-gray-500">
                    <div class="text-white">
                        <i class="fa-solid fa-house"></i>
                    </div>
                    <span class="ml-3 px-1 text-white">Home</span>
                </a>
            </li>
            <div class="pt-4 font-medium border-b border-white"></div>
            <div class="pt-2 text-white text-sm font-semibold">Management</div>
            <li>
                <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-500 ml-4">
                    <div class="text-white">
                        <i class="fa-solid fa-chart-pie"></i>
                    </div>
                    <span class="ml-3 px-1 text-white">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-500 ml-4">
                    <div class="text-white">
                        <i class="fa-regular fa-file-lines"></i>
                    </div>
                    <span class="ml-4 px-2 text-white">Logs</span>
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-500 ml-4">
                    <div class="text-white">
                        <i class="fa-solid fa-folder-tree"></i>
                    </div>
                    <span class="ml-2 px-2 text-white">Browser</span>
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-500 ml-4">
                    <div class="text-white">
                        <i class="fa-solid fa-users"></i>
                    </div>
                    <span class="flex-1 ml-3 whitespace-nowrap text-white">Users</span>
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-500 ml-4">
                    <div class="text-white">
                        <i class="fa-brands fa-usb"></i>
                    </div>
                    <span class="ml-3 text-white">USB Keys</span>
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-500 ml-4">
                    <div class="text-white">
                        <i class="fa-solid fa-gear"></i>
                    </div>
                    <span class="ml-3 px-1 text-white">Settings</span>
                </a>
            </li>
            <div class="pt-4 font-medium border-b border-white"></div>
            <div class="pt-2 text-white text-sm font-semibold">Equipment</div>
            <li>
                <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-500 ml-4">
                    <div class="text-white">
                        <i class="fa-solid fa-server"></i>
                    </div>
                    <span class="ml-3 px-1 text-white">Manage Server</span>
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-500 ml-4">
                    <div class="text-white">
                        <i class="fa-solid fa-desktop"></i>
                    </div>
                    <span class="ml-3 px-1 text-white">Manage Endpoints</span>
                </a>
            </li>
            </ul>

            <div class="fixed bottom-0 mb-4">
                <div class="text-white font-semibold ml-16">SABU - V2.0</div>
            </div>
        </div>
    </aside>

    <!-- TEMP POSITION -->
    <div class="p-4 sm:ml-64">
        <div class="p-4 rounded-lg dark:border-gray-700 mt-14">
            <!-- <div class="rounded-lg bg-gradient-to-r from-gray-400 via-gray-200 to-gray-50 mt-4">
                <h1 class="text-2xl font-semibold mb-10 ml-4">Home 
                    <nav class="flex" aria-label="Breadcrumb">
                      <ol class="inline-flex items-center space-x-1 md:space-x-3">
                        <li class="inline-flex items-center">
                          <a href="#" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
                            <svg class="w-3 h-3 mr-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                              <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"/>
                            </svg>
                            SABU SERVER
                          </a>
                        </li>
                        <li>
                          <div class="flex items-center">
                            <svg class="w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                            </svg>
                            <a href="#" class="ml-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ml-2 dark:text-gray-400 dark:hover:text-white">Home</a>
                          </div>
                        </li>
                      </ol>
                    </nav>
                    </h1>
                
            </div> -->
            <!-- LES BOX -->
            <div class="grid grid-cols-4 gap-6 mb-12">
                <div class="border-l-4 border-sky-700 h-44 rounded bg-gray-50 dark:bg-gray-800">
                    <div class="p-4 ">
                        <h3 class="text-xl font-medium">NUMBER OF ENDPOINTS</h3>
                    </div>
                    <div class="flex items-center px-4 py-2">
                        <h1 class="text-6xl">10</h1>
                        <div class="text-4xl text-white px-44">
                            <div class="p-6 rounded-full bg-sky-700">
                                <i class="fa-solid fa-server"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="border-l-4 border-green-700 h-44 rounded bg-gray-50 dark:bg-gray-800">
                    <div class="p-4 ">
                        <h3 class="text-xl font-medium">UPTIME OF ENDPOINTS</h3>
                    </div>
                    <div class="flex items-center px-4 py-2">
                        <h1 class="text-6xl">9/10</h1>
                        <div class="text-4xl text-white px-32">
                            <div class="p-6 rounded-full bg-green-700">
                                <i class="fa-solid fa-gauge-high"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="border-l-4 border-red-700 h-44 rounded bg-gray-50 dark:bg-gray-800">
                    <div class="p-4 ">
                        <h3 class="text-xl font-medium">ALERTS</h3>
                    </div>
                    <div class="flex items-center px-4 py-2">
                        <h1 class="text-6xl">3</h1>
                        <div class="text-4xl text-white px-52">
                            <div class="p-6 rounded-full bg-red-700">
                                <i class="fa-solid fa-bell"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="border-l-4 border-orange-400 h-44 rounded bg-gray-50 dark:bg-gray-800">
                    <div class="p-4 ">
                        <h3 class="text-xl font-medium">NUMBER OF SCANS</h3>
                    </div>
                    <div class="flex items-center px-4 py-2">
                        <h1 class="text-6xl">100</h1>
                        <!-- <div class="text-4xl text-white px-36">
                            <div class="p-6 rounded-full bg-orange-400">
                                <i class="fa-solid fa-radiation"></i>
                            </div>
                        </div> -->
                        <div class="flex m-auto mr-8 mb-2 text-4xl rounded-full bg-orange-400">
                            <i class="fa-solid fa-radiation"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid grid-cols-2 gap-6 mb-4">
                <div class="flex rounded bg-gray-50 h-96 dark:bg-gray-800">
                    <div class="p-8">
                        <div class="relative inline-flex items-center justify-center w-48 h-48 overflow-hidden bg-gray-300 rounded-full dark:bg-gray-600">
                            <span class="font-bold text-6xl text-gray-600 dark:text-gray-300">JD</span>
                        </div>
                        <div class="m-auto mt-6 ml-10">
                            <h1 class="text-2xl">Jhon DOE</h1>
                            <h1>Administrator</h1>
                        </div>
                    </div>
                    <div class="m-auto mr-24">
                        <h1 class="text-4xl">Welcome Jhon !</h1>
                        <div class="rounded bg-gray-300 px-4">
                            <h3><i class="fa-solid fa-right-to-bracket"></i> Last Login : 08/10/2023</h3>
                            <h3><i class="fa-solid fa-shield-halved"></i> MFA Enabled : <span class="text-green-600 font-bold">YES</span></h3>
                        </div>
                    </div>
                </div>
                <div class="flex items-center justify-center rounded bg-gray-50 h-96 dark:bg-gray-800">
                    <p class="text-2xl text-gray-400 dark:text-gray-500">
                        GRAPH NUMBER OF SCANS OR INFO OF SABU (OLD ADMIN PAGE)
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- RIGHT BUTTON -->
    <div data-dial-init class="fixed right-6 bottom-6 group">
        <div id="speed-dial-menu-default" class="flex flex-col items-center hidden mb-4 space-y-2">
            <button type="button" data-tooltip-target="tooltip-User" data-tooltip-placement="left" class="flex justify-center items-center w-[52px] h-[52px] text-gray-500 hover:text-gray-900 bg-white rounded-full border border-gray-200 dark:border-gray-600 shadow-sm dark:hover:text-white dark:text-gray-400 hover:bg-gray-50 dark:bg-gray-700 dark:hover:bg-gray-600 focus:ring-4 focus:ring-gray-300 focus:outline-none dark:focus:ring-gray-400">
                <i class="fa-solid fa-user-plus"></i>
                <span class="sr-only">User</span>
            </button>
            <div id="tooltip-User" role="tooltip" class="absolute z-10 invisible inline-block w-auto px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                User
                <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
            <button type="button" data-tooltip-target="tooltip-add_endpoint" data-tooltip-placement="left" class="flex justify-center items-center w-[52px] h-[52px] text-gray-500 hover:text-gray-900 bg-white rounded-full border border-gray-200 dark:border-gray-600 dark:hover:text-white shadow-sm dark:text-gray-400 hover:bg-gray-50 dark:bg-gray-700 dark:hover:bg-gray-600 focus:ring-4 focus:ring-gray-300 focus:outline-none dark:focus:ring-gray-400">
                <i class="fa-solid fa-server"></i>
                <span class="sr-only">Add Endpoint</span>
            </button>
            <div id="tooltip-add_endpoint" role="tooltip" class="absolute z-10 invisible inline-block w-auto px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                Endpoint
                <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
        </div>
        <button type="button" data-dial-toggle="speed-dial-menu-default" aria-controls="speed-dial-menu-default" aria-expanded="false" class="flex items-center justify-center text-white bg-sky-900 rounded-full w-14 h-14 hover:bg-sky-900 dark:bg-blue-600 dark:hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 focus:outline-none dark:focus:ring-blue-800">
            <svg class="w-5 h-5 transition-transform group-hover:rotate-45" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
            </svg>
            <span class="sr-only">Open actions menu</span>
        </button>
    </div>

    <!-- MODAL -->
    <!-- Reboot modal -->
    <div id="staticModal" data-modal-backdrop="static" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative w-full max-w-2xl max-h-full">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                <!-- Modal header -->
                <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
                    <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                        Reboot
                    </h3>
                    <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="staticModal">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <!-- Modal body -->
                <div class="p-6 space-y-6">
                    <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select your option</label>
                    <select id="countries" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <option selected>Choose a device</option>
                    <option value="SERVER">SABU SERVER</option>
                    <option value="ENDPOINT">SABU NAME_ENDPOINT-1</option>
                    <option value="ENDPOINT">SABU NAME_ENDPOINT-2</option>
                    </select>
                </div>
                <!-- Modal footer -->
                <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
                    <button data-modal-hide="staticModal" type="button" data-modal-target="popup-modal" data-modal-toggle="popup-modal" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Confirm</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Confirm modal -->
    <div id="popup-modal" tabindex="-1" class="fixed top-0 left-0 right-0 z-50 hidden p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative w-full max-w-md max-h-full">
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="popup-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
                <div class="p-6 text-center">
                    <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                    </svg>
                    <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">Are you sure you want to reboot this device ?</h3>
                    <button data-modal-hide="popup-modal" type="button" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2">
                        Yes
                    </button>
                    <button data-modal-hide="popup-modal" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">No</button>
                </div>
            </div>
        </div>
    </div>
  
    <!-- import flowbite lib js -->
    <script src="../static/node_modules/flowbite/dist/flowbite.min.js"></script>
</body>
</html>