<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SABU | Users</title>
    <link rel="icon" type="image/x-icon" href="/static/assets/icons/sabu.ico">
    <!-- import tailwind -->
    <link rel="stylesheet" href="/static/dist/output.css">
    <!-- import fontawesome -->
    <link rel="stylesheet" href="/static/assets/fontawesome/css/all.css">
</head>
<body class="bg-gray-100">
    <!-- NAV BAR -->
    <nav class="fixed top-0 w-full bg-white shadow-md">
        <div class="px-3 py-3 lg:px-5 lg:pl-3">
        <div class="flex items-center justify-between">
            <div class="flex items-center justify-start">
                <!-- button allow in small-screen -->
                <button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar" type="button" class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
                    <span class="sr-only">Open sidebar</span>
                    <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
                    </svg>
                </button>

                <div class="flex ml-72 md:mr-24">
                    <span class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap dark:text-white">Users</span>
                </div>
            </div>
            
            <!-- RIGHT NAV BAR -->
            <div class="flex items-center">
                <!-- BELL BUTTON -->
                <button id="dropdownAlertsButton" data-dropdown-toggle="dropdownAlerts" class="mr-8 relative border-2 border-transparent text-gray-800 rounded-full hover:text-gray-400 focus:outline-none focus:text-gray-500 transition duration-150 ease-in-out" aria-label="Cart">
                    <div class="text-dark text-xl">
                        <i class="fa-solid fa-bell"></i>
                    </div>
                    <span class="absolute inset-0 object-right-top -mr-5 -mt-2">
                      <div class="inline-flex items-center px-1.5 py-0.5 rounded-full text-xs font-semibold leading-4 bg-red-500 text-white">
                        3
                      </div>
                    </span>
                </button>
                <!-- Dropdown bell -->
                <div id="dropdownAlerts" class="z-20 hidden w-72 max-w-sm bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-800 dark:divide-gray-700" aria-labelledby="dropdownAlerts">
                <div class="block px-4 py-2 font-medium text-center text-gray-700 rounded-t-lg bg-gray-100 dark:bg-gray-800 dark:text-white">
                    Alerts
                </div>
                <div class="py-2 divide-y divide-gray-100 dark:divide-gray-700">
                    <a href="#" class="flex px-4 py-3 hover:bg-gray-100 dark:hover:bg-gray-700">
                    <div class="w-full pl-3">
                        <div class="text-gray-500 text-sm mb-1.5 dark:text-gray-400"><span class="font-semibold text-gray-900 dark:text-white">ENDPOINT1</span> Disconnected</div>
                        <div class="text-xs text-blue-600 dark:text-blue-500">a few moments ago</div>
                    </div>
                    </a>
                    <a href="#" class="flex px-4 py-3 hover:bg-gray-100 dark:hover:bg-gray-700">
                    <div class="w-full pl-3">
                        <div class="text-gray-500 text-sm mb-1.5 dark:text-gray-400"><span class="font-semibold text-gray-900 dark:text-white">SABU SERVER</span> Disk is full</div>
                        <div class="text-xs text-blue-600 dark:text-blue-500">10 minutes ago</div>
                    </div>
                    </a>
                    <a href="#" class="flex px-4 py-3 hover:bg-gray-100 dark:hover:bg-gray-700">
                    <div class="w-full pl-3">
                        <div class="text-gray-500 text-sm mb-1.5 dark:text-gray-400"><span class="font-semibold text-gray-900 dark:text-white">ENDPOINT2</span> is not reachable</div>
                        <div class="text-xs text-blue-600 dark:text-blue-500">44 minutes ago</div>
                    </div>
                    </a>
                </div>
                <a href="#" class="block py-2 text-sm font-medium text-center text-gray-900 rounded-b-lg bg-gray-50 hover:bg-gray-100 dark:bg-gray-800 dark:hover:bg-gray-700 dark:text-white">
                    <div class="inline-flex items-center ">
                        <div>
                            <i class="fa-solid fa-eye"></i>
                            View all
                        </div>
                    </div>
                </a>
                </div>

                <!-- MENU BUTTON -->
                <button id="dropdownMenuButton" data-dropdown-toggle="dropdownMenu" class="mr-8 relative border-2 border-transparent text-dark rounded-full hover:text-gray-400 focus:outline-none focus:text-gray-500 transition duration-150 ease-in-out" aria-label="Cart">
                    <div class="text-xl">
                        <i class="fa-solid fa-bars"></i>
                    </div>
                </button>
                <!-- Dropdown MENU -->
                <div id="dropdownMenu" class="z-20 hidden w-48 max-w-sm bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-800 dark:divide-gray-700" aria-labelledby="dropdownMenu">
                <div class="block px-4 py-2 font-medium text-center text-gray-700 rounded-t-lg bg-gray-100 dark:bg-gray-800 dark:text-white">
                    Shortcut
                </div>
                <div class="divide-gray-100">
                    <div class="flex justify-center space-x-4 p-2">
                        <!-- addEndpoint -->
                        <div class="flex items-center justify-center h-10 w-10 rounded text-2xl bg-gray-100 hover:bg-gray-200">
                            <i class="fa-solid fa-desktop"></i>
                        </div>
                        <!-- addUser -->
                        <div class="flex items-center justify-center h-10 w-10 rounded text-2xl bg-gray-100 hover:bg-gray-200">
                            <button id="adduser" type="button">
                                <i class="fa-solid fa-user-plus"></i>
                            </button>
                        </div>
                        <!-- addUSB -->
                        <div class="flex items-center justify-center h-10 w-10 rounded text-2xl bg-gray-100 hover:bg-gray-200">
                            <i class="fa-brands fa-usb"></i>
                        </div>
                    </div>
                    <div class="flex justify-center space-x-4 p-2">
                        <!-- browser-admin shortcut -->
                        <a href="#">
                            <div class="flex items-center justify-center h-10 w-10 rounded text-2xl bg-gray-100 hover:bg-gray-200">
                                <i class="fa-solid fa-folder-tree"></i>
                            </div>
                        </a>
                        <!-- remote ssh -->
                        <div class="flex items-center justify-center h-10 w-10 rounded text-2xl bg-gray-100 hover:bg-gray-200">
                            <i class="fa-solid fa-terminal"></i>
                        </div>
                        <!-- power -->
                        <div class="flex items-center justify-center h-10 w-10 rounded text-2xl bg-gray-100 hover:bg-gray-200">
                            <button id="dropdownPowerButton" data-dropdown-toggle="dropdownPowerButtonBottom" data-dropdown-placement="bottom" data-dropdown-offset-distance="15" type="button">
                                <i class="fa-solid fa-power-off"></i>
                            </button>
                            <!-- Dropdown power -->
                            <div id="dropdownPowerButtonBottom" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-24 dark:bg-gray-700">
                                <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownPowerButton">
                                    <li>
                                        <a href="#" data-modal-target="staticModal" data-modal-toggle="staticModal" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Reboot</a>
                                    </li>
                                    <li>
                                        <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Shutdown</a>
                                     </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="block py-2 text-sm font-medium text-center text-gray-900 rounded-b-lg bg-gray-50 hover:bg-gray-100 dark:bg-gray-800 dark:hover:bg-gray-700 dark:text-white">
                        <div class="inline-flex items-center ">
                            <div>
                                <i class="fa-solid fa-circle-question"></i>
                                Help
                            </div>
                        </div>
                    </a>
                </div>
                </div>
                
                <!-- USER BUTTON -->
                <div>
                    <button type="button" class="flex text-sm bg-gray-800 rounded-full focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" aria-expanded="false" data-dropdown-toggle="dropdown-user">
                    <span class="sr-only">Open user menu</span>
                    <div class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-dark rounded-full dark:bg-gray-600">
                        <span class="font-bold text-white dark:text-gray-300">JD</span>
                    </div>

                    </button>
                </div>
                <!-- Dropdown user -->
                <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded shadow dark:bg-gray-700 dark:divide-gray-600" id="dropdown-user">
                    <div class="px-8 py-3 bg-gray-100" role="none">
                    <p class="text-sm font-semibold text-gray-900 dark:text-white" role="none">
                        John DOE
                    </p>
                    <p class="text-sm font-medium text-gray-900 truncate dark:text-gray-300" role="none">
                        Administrator
                    </p>
                    </div>
                    <ul class="py-1" role="none">
                    <li>
                        <a href="profil-settings.html" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">
                            <div>
                                <i class="fa-solid fa-circle-user"></i>
                                Profil
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="" class="flex items-center block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">
                            <div>
                                <i class="fa-solid fa-moon"></i>
                                Dark mode  
                            </div>
                            
                            <label class="ml-2 relative inline-flex items-center cursor-pointer">
                              <input type="checkbox" value="" class="sr-only peer">
                              <div class="w-11 h-6 bg-gray-200 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
                              <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300"></span>
                            </label>
                        </a>
                    </li>
                    </ul>
                    <ul class="py-1" role="none">
                    <li>
                        <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">
                            <div>
                                <i class="fa-solid fa-right-from-bracket"></i>
                                Sign out
                            </div>
                        </a>
                    </li>
                    </ul>
                </div>
                </div>
            </div>
        </div>
        </div>
    </nav>
    
    <!--SIDEBAR -->
    <aside id="logo-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen pt-6 transition-transform -translate-x-full bg-slate-800 sm:translate-x-0" aria-label="Sidebar">
        <div class="flex ml-2 md:mr-24 mb-6 ml-4">
            <img src="../static/assets/icons/logo_sabu.png" class="h-10 mr-3 rounded-full" alt="Logo" />
            <span class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap text-white">SABU SERVER</span>
        </div>
        <div class="h-full px-3 pb-4 pt-6 overflow-y-auto bg-slate-700">
            <ul class="space-y-2 font-medium">
            <li>
                <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-500">
                    <div class="text-white">
                        <i class="fa-solid fa-house"></i>
                    </div>
                    <span class="ml-3 px-1 text-white">Home</span>
                </a>
            </li>
            <div class="pt-4 font-medium border-b border-white"></div>
            <div class="pt-2 text-white text-sm font-semibold">Management</div>
            <li>
                <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-500 ml-4">
                    <div class="text-white">
                        <i class="fa-solid fa-chart-pie"></i>
                    </div>
                    <span class="ml-3 px-1 text-white">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-500 ml-4">
                    <div class="text-white">
                        <i class="fa-regular fa-file-lines"></i>
                    </div>
                    <span class="ml-4 px-2 text-white">Logs</span>
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-500 ml-4">
                    <div class="text-white">
                        <i class="fa-solid fa-folder-tree"></i>
                    </div>
                    <span class="ml-2 px-2 text-white">Browser</span>
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-500 ml-4">
                    <div class="text-white">
                        <i class="fa-solid fa-users"></i>
                    </div>
                    <span class="flex-1 ml-3 whitespace-nowrap text-white">Users</span>
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-500 ml-4">
                    <div class="text-white">
                        <i class="fa-brands fa-usb"></i>
                    </div>
                    <span class="ml-3 text-white">USB Keys</span>
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-500 ml-4">
                    <div class="text-white">
                        <i class="fa-solid fa-gear"></i>
                    </div>
                    <span class="ml-3 px-1 text-white">Settings</span>
                </a>
            </li>
            <div class="pt-4 font-medium border-b border-white"></div>
            <div class="pt-2 text-white text-sm font-semibold">Equipment</div>
            <li>
                <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-500 ml-4">
                    <div class="text-white">
                        <i class="fa-solid fa-server"></i>
                    </div>
                    <span class="ml-3 px-1 text-white">Manage Server</span>
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-500 ml-4">
                    <div class="text-white">
                        <i class="fa-solid fa-desktop"></i>
                    </div>
                    <span class="ml-3 px-1 text-white">Manage Endpoints</span>
                </a>
            </li>
            </ul>

            <div class="fixed bottom-0 mb-4">
                <div class="text-white font-semibold ml-16">SABU - V2.0</div>
            </div>
        </div>
    </aside>

    <!-- USERS -->
    <div class="p-4 sm:ml-64">
        <div class="p-8 mt-14">
            <div class="grid grid-cols-1 gap-8 mb-14">
                <div class="bg-white rounded-lg shadow-md">
                    <h1 class="flex justify-center text-4xl font-medium mt-4">Manage Users</h1>
                    <p class="flex justify-center mt-4 mb-4">This page allows you to perform various actions, from adding new users to editing their existing information, as well as deleting accounts.</p>
                </div>
            </div>
            <div class="grid grid-cols-1 gap-8 mb-20">
                <div class="overflow-x-auto shadow-md rounded-lg">
                    <div class="flex items-center justify-between py-4 bg-white dark:bg-gray-800 p-8">
                        <div>
                            <button data-modal-show="addUserModal" data-modal-target="addUserModal" class="inline-flex items-center text-gray-500 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-3 py-1.5 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700" type="button">
                                <div class="space-x-2">
                                    <i class="fa-solid fa-user-plus"></i> Add User
                                </div>
                            </button>
                        </div>
                       
                        <label for="table-search" class="sr-only">Search</label>
                        <input type="text" id="table-search-users" class="block p-2 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search for users">
                    </div>
                    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                            <tr>
                                <th scope="col" class="px-6 py-3">
                                    Name
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Job
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    2FA
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                <th scope="row" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
                                    <img class="w-10 h-10 rounded-full" src="/static/assets/icons/profil.png" alt="Jese image">
                                    <div class="pl-3">
                                        <div class="text-base font-semibold">Loris Lizé</div>
                                        <div class="font-normal text-gray-500">loris.lize@sabu.fr</div>
                                    </div>  
                                </th>
                                <td class="px-6 py-4">
                                    Front-end Developer
                                </td>
                                <td class="px-6 py-4">
                                    <div class="flex items-center">
                                        <div class="h-2.5 w-2.5 rounded-full bg-green-500 mr-2"></div> Enabled
                                    </div>
                                </td>
                                <td class="px-4 py-4">
                                    <!-- Modal toggle -->
                                    <div class="flex space-x-2">
                                        <button type="button" data-modal-show="editUserModal" data-modal-target="editUserModal" class="flex justify-center items-center rounded bg-blue-600 hover:bg-gray-200 h-6 w-6 font-medium text-white hover:text-blue-600 dark:text-blue-500">
                                            <i class="fa-solid fa-pen-to-square"></i>
                                        </button>
                                        <button type="button" class="flex justify-center items-center rounded bg-red-600 hover:bg-gray-200 h-6 w-6 font-medium text-white dark:text-blue-500 hover:text-red-600">
                                            <i class="fa-solid fa-trash"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                <th scope="row" class="flex items-center px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    <img class="w-10 h-10 rounded-full" src="/static/assets/icons/profil.png" alt="Jese image">
                                    <div class="pl-3">
                                        <div class="text-base font-semibold">Quentin Cert</div>
                                        <div class="font-normal text-gray-500">quentin.cert@sabu.fr</div>
                                    </div>
                                </th>
                                <td class="px-6 py-4">
                                    Back-end Developer
                                </td>
                                <td class="px-6 py-4">
                                    <div class="flex items-center">
                                        <div class="h-2.5 w-2.5 rounded-full bg-green-500 mr-2"></div> Enabled
                                    </div>
                                </td>
                                <td class="px-4 py-4">
                                    <!-- Modal toggle -->
                                    <div class="flex space-x-2">
                                        <button type="button" data-modal-show="editUserModal" data-modal-target="editUserModal" class="flex justify-center items-center rounded bg-blue-600 hover:bg-gray-200 h-6 w-6 font-medium text-white hover:text-blue-600 dark:text-blue-500">
                                            <i class="fa-solid fa-pen-to-square"></i>
                                        </button>
                                        <button type="button" class="flex justify-center items-center rounded bg-red-600 hover:bg-gray-200 h-6 w-6 font-medium text-white dark:text-blue-500 hover:text-red-600">
                                            <i class="fa-solid fa-trash"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                <th scope="row" class="flex items-center px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    <img class="w-10 h-10 rounded-full" src="/static/assets/icons/profil.png" alt="Jese image">
                                    <div class="pl-3">
                                        <div class="text-base font-semibold">Mathis Binet</div>
                                        <div class="font-normal text-gray-500">mathis.binet@sabu.fr</div>
                                    </div>
                                </th>
                                <td class="px-6 py-4">
                                    TT man at Claranet FR ❤️
                                </td>
                                <td class="px-6 py-4">
                                    <div class="flex items-center">
                                        <div class="h-2.5 w-2.5 rounded-full bg-green-500 mr-2"></div> Enabled
                                    </div>
                                </td>
                                <td class="px-4 py-4">
                                    <!-- Modal toggle -->
                                    <div class="flex space-x-2">
                                        <button type="button" data-modal-show="editUserModal" data-modal-target="editUserModal" class="flex justify-center items-center rounded bg-blue-600 hover:bg-gray-200 h-6 w-6 font-medium text-white hover:text-blue-600 dark:text-blue-500">
                                            <i class="fa-solid fa-pen-to-square"></i>
                                        </button>
                                        <button type="button" class="flex justify-center items-center rounded bg-red-600 hover:bg-gray-200 h-6 w-6 font-medium text-white dark:text-blue-500 hover:text-red-600">
                                            <i class="fa-solid fa-trash"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                <th scope="row" class="flex items-center px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    <img class="w-10 h-10 rounded-full" src="/static/assets/icons/profil.png" alt="Jese image">
                                    <div class="pl-3">
                                        <div class="text-base font-semibold">Samuel Bouvier</div>
                                        <div class="font-normal text-gray-500">samuel.bouvier@sabu.fr</div>
                                    </div>
                                </th>
                                <td class="px-6 py-4">
                                    Crackito and Network Professional
                                </td>
                                <td class="px-6 py-4">
                                    <div class="flex items-center">
                                        <div class="h-2.5 w-2.5 rounded-full bg-green-500 mr-2"></div> Enabled
                                    </div>
                                </td>
                                <td class="px-4 py-4">
                                    <!-- Modal toggle -->
                                    <div class="flex space-x-2">
                                        <button type="button" data-modal-show="editUserModal" data-modal-target="editUserModal" class="flex justify-center items-center rounded bg-blue-600 hover:bg-gray-200 h-6 w-6 font-medium text-white hover:text-blue-600 dark:text-blue-500">
                                            <i class="fa-solid fa-pen-to-square"></i>
                                        </button>
                                        <button type="button" class="flex justify-center items-center rounded bg-red-600 hover:bg-gray-200 h-6 w-6 font-medium text-white dark:text-blue-500 hover:text-red-600">
                                            <i class="fa-solid fa-trash"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr class="bg-white dark:bg-gray-800 hover:bg-gray-50 dark:hover:bg-gray-600">
                                <th scope="row" class="flex items-center px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    <img class="w-10 h-10 rounded-full" src="/static/assets/icons/profil.png" alt="Jese image">
                                    <div class="pl-3">
                                        <div class="text-base font-semibold">Mathias PELTIER</div>
                                        <div class="font-normal text-gray-500">mathias.peltier@sabu.fr</div>
                                    </div>
                                </th>
                                <td class="px-6 py-4">
                                    Football player Junior
                                </td>
                                <td class="px-6 py-4">
                                    <div class="flex items-center">
                                        <div class="h-2.5 w-2.5 rounded-full bg-red-500 mr-2"></div> Disabled
                                    </div>
                                </td>
                                <td class="px-4 py-4">
                                    <!-- Modal toggle -->
                                    <div class="flex space-x-2">
                                        <button type="button" data-modal-show="editUserModal" data-modal-target="editUserModal" class="flex justify-center items-center rounded bg-blue-600 hover:bg-gray-200 h-6 w-6 font-medium text-white hover:text-blue-600 dark:text-blue-500">
                                            <i class="fa-solid fa-pen-to-square"></i>
                                        </button>
                                        <button type="button" class="flex justify-center items-center rounded bg-red-600 hover:bg-gray-200 h-6 w-6 font-medium text-white dark:text-blue-500 hover:text-red-600">
                                            <i class="fa-solid fa-trash"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Edit user modal -->
                    <div id="editUserModal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 items-center justify-center hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
                        <div class="relative w-full max-w-2xl max-h-full">
                            <!-- Modal content -->
                            <form action="#" class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                                <!-- Modal header -->
                                <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
                                    <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                                        Edit user
                                    </h3>
                                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="editUserModal">
                                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                    </svg>
                                    <span class="sr-only">Close modal</span>
                                </button>
                                </div>
                                <!-- Modal body -->
                                <div class="p-6 space-y-6">
                                    <div class="grid grid-cols-6 gap-6">
                                        <div class="col-span-6 sm:col-span-3">
                                            <label for="first-name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">First Name</label>
                                            <input type="text" name="first-name" id="first-name" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="NAME_PERSON">
                                        </div>
                                        <div class="col-span-6 sm:col-span-3">
                                            <label for="last-name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Last Name</label>
                                            <input type="text" name="last-name" id="last-name" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="NAME_PERSON">
                                        </div>
                                        <div class="col-span-6 sm:col-span-3">
                                            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                                            <input type="email" name="email" id="email" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="person@email.com">
                                        </div>
                                        <div class="col-span-6 sm:col-span-3">
                                            <label for="department" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Job</label>
                                            <input type="text" name="department" id="department" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="JOB_PERSON">
                                        </div>
                                        <div class="col-span-6 sm:col-span-3">
                                            <label for="current-password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">New Password</label>
                                            <input type="password" name="current-password" id="current-password" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="••••••••">
                                        </div>
                                        <div class="col-span-6 sm:col-span-3">
                                            <label for="new-password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Repeat Password</label>
                                            <input type="password" name="new-password" id="new-password" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="••••••••">
                                        </div>
                                    </div>
                                </div>
                                <!-- Modal footer -->
                                <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
                                    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!-- Add user modal -->
                    <div id="addUserModal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 items-center justify-center hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
                        <div class="relative w-full max-w-2xl max-h-full">
                            <!-- Modal content -->
                            <form action="#" class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                                <!-- Modal header -->
                                <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
                                    <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                                        Add user
                                    </h3>
                                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="addUserModal">
                                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                    </svg>
                                    <span class="sr-only">Close modal</span>
                                </button>
                                </div>
                                <!-- Modal body -->
                                <div class="p-6 space-y-6">
                                    <div class="grid grid-cols-6 gap-6">
                                        <div class="col-span-6 sm:col-span-3">
                                            <label for="first-name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">First Name</label>
                                            <input type="text" name="first-name" id="first-name" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="John" required>
                                        </div>
                                        <div class="col-span-6 sm:col-span-3">
                                            <label for="last-name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Last Name</label>
                                            <input type="text" name="last-name" id="last-name" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Doe" required>
                                        </div>
                                        <div class="col-span-6 sm:col-span-3">
                                            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                                            <input type="email" name="email" id="email" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="jhon.doe@sabu.fr" required>
                                        </div>
                                        <div class="col-span-6 sm:col-span-3">
                                            <label for="department" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Job</label>
                                            <input type="text" name="department" id="department" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Developer" required>
                                        </div>
                                        <div class="col-span-6 sm:col-span-3">
                                            <label for="current-password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                                            <input type="password" name="current-password" id="current-password" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="••••••••" required>
                                        </div>
                                        <div class="col-span-6 sm:col-span-3">
                                            <label for="new-password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Repeat Password</label>
                                            <input type="password" name="new-password" id="new-password" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="••••••••" required>
                                        </div>
                                    </div>
                                </div>
                                <!-- Modal footer -->
                                <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
                                    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- import flowbite lib js -->
    <script src="../static/node_modules/flowbite/dist/flowbite.min.js"></script>
</body>
</html>