<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SABU | Home</title>
    <link rel="icon" type="image/x-icon" href="/static/assets/icons/sabu.ico">
    <!-- import tailwind -->
    <link rel="stylesheet" href="/static/dist/output.css">
    <!-- import fontawesome -->
    <link rel="stylesheet" href="/static/assets/fontawesome/css/all.css">

</head>
<body>
    <!-- NAV BAR -->
    <nav class="fixed top-0 z-50 w-full border-b bg-gradient-to-l from-sky-500 to-sky-900">
        <div class="px-3 py-3 lg:px-5 lg:pl-3">
        <div class="flex items-center justify-between">
            <div class="flex items-center justify-start">
                <button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar" type="button" class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
                    <span class="sr-only">Open sidebar</span>
                    <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
                    </svg>
                </button>

                <div class="flex ml-2 md:mr-24">
                    <img src="../static/assets/icons/logo_sabu.png" class="h-10 mr-3 rounded-full" alt="Logo" />
                    <span class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap dark:text-white">SABU SERVER</span>
                </div>
            </div>

            <!-- USER MENU -->
            <div class="flex items-center">
                <button class="mr-8 relative border-2 border-transparent text-gray-800 rounded-full hover:text-gray-400 focus:outline-none focus:text-gray-500 transition duration-150 ease-in-out" aria-label="Cart">
                    <div class="text-white text-xl">
                        <i class="fa-solid fa-bell"></i>
                    </div>
                    <span class="absolute inset-0 object-right-top -mr-5 -mt-2">
                      <div class="inline-flex items-center px-1.5 py-0.5 rounded-full text-xs font-semibold leading-4 bg-red-500 text-white">
                        3
                      </div>
                    </span>
                </button>
                <div class="text-white mr-8 text-xl">
                    <i class="fa-solid fa-sun"></i>
                </div>
                <div>
                    <button type="button" class="flex text-sm bg-gray-800 rounded-full focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" aria-expanded="false" data-dropdown-toggle="dropdown-user">
                    <span class="sr-only">Open user menu</span>
                    <img class="w-10 h-10 rounded-full" src="../static/assets/icons/profil.png" alt="user photo">
                    </button>
                </div>
                <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded shadow dark:bg-gray-700 dark:divide-gray-600" id="dropdown-user">
                    <div class="px-4 py-3" role="none">
                    <p class="text-sm font-semibold text-gray-900 dark:text-white" role="none">
                        John DOE
                    </p>
                    <p class="text-sm font-medium text-gray-900 truncate dark:text-gray-300" role="none">
                        Administrator
                    </p>
                    </div>
                    <ul class="py-1" role="none">
                    <li>
                        <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">Settings</a>
                    </li>
                    </ul>
                    <ul class="py-1" role="none">
                    <li>
                        <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">Sign out</a>
                    </li>
                    </ul>
                </div>
                </div>
            </div>
        </div>
        </div>
    </nav>
    
    <!--SIDEBAR -->
    <aside id="logo-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen pt-20 transition-transform -translate-x-full bg-slate-800 sm:translate-x-0" aria-label="Sidebar">
        <div class="h-full px-3 pb-4 overflow-y-auto bg-slate-800">
            <ul class="space-y-2 font-medium">
            <li>
                <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-sky-900">
                    <div class="text-white">
                        <i class="fa-solid fa-house"></i>
                    </div>
                    <span class="ml-3 px-1 text-white">Home</span>
                </a>
            </li>
            <div class="pt-2 font-medium border-t border-white"></div>
            <li>
                <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-sky-900">
                    <div class="text-white">
                        <i class="fa-solid fa-chart-pie"></i>
                    </div>
                    <span class="ml-3 px-1 text-white">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-sky-900">
                    <div class="text-white">
                        <i class="fa-solid fa-bell"></i>
                    </div>
                    <span class="flex-1 ml-3 whitespace-nowrap px-2 text-white">Alerts</span>
                    <span class="inline-flex items-center justify-center w-3 h-3 p-3 ml-3 text-sm font-medium text-black bg-white rounded-full dark:bg-blue-900 dark:text-blue-300">3</span>

                </a>
            </li>
            <li>
                <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-sky-900">
                    <div class="text-white">
                        <i class="fa-regular fa-file-lines"></i>
                    </div>
                    <span class="ml-3 px-2 text-white">Logs</span>
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-sky-900">
                    <div class="text-white">
                        <i class="fa-solid fa-users"></i>
                    </div>
                    <span class="flex-1 ml-3 whitespace-nowrap text-white">Manage Users</span>
                    <span class="inline-flex items-center justify-center px-2 ml-3 text-sm font-medium text-gray-800 bg-gray-100 rounded-full dark:bg-gray-700 dark:text-gray-300">Local</span>
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-sky-900">
                    <div class="text-white">
                        <i class="fa-solid fa-gear"></i>
                    </div>
                    <span class="ml-3 px-1 text-white">Settings</span>
                </a>
            </li>
            <div class="pt-2 font-medium border-t border-white"></div>
            <li>
                <button type="button" class="flex items-center w-full p-2 text-base text-gray-900 transition duration-75 rounded-lg group hover:bg-sky-900" aria-controls="dropdown-endpoints" data-collapse-toggle="dropdown-endpoints">
                    <div class="text-white">
                        <i class="fa-solid fa-server"></i>
                    </div>
                    <span class="flex-1 ml-3 text-left whitespace-nowrap text-white">Manage Endpoints</span>
                    <div class="text-white">
                        <i class="fa-solid fa-chevron-down"></i>
                    </div>
                </button>
                <ul id="dropdown-endpoints" class="hidden py-2 space-y-2">
                      <li>
                         <a href="#" class="flex items-center w-full p-2 text-white transition duration-75 rounded-lg pl-11 group hover:bg-sky-900">NAME_ENDPOINT-1</a>
                      </li>
                      <li>
                         <a href="#" class="flex items-center w-full p-2 text-white transition duration-75 rounded-lg pl-11 group hover:bg-sky-900">NAME_ENDPOINT-2</a>
                      </li>
                </ul>
            </li>
            </ul>
        </div>
    </aside>

    <!-- TEMP POSITION -->
    <div class="p-4 sm:ml-64">
        <div class="p-4 rounded-lg dark:border-gray-700 mt-14">
            <h1 class="text-2xl font-semibold mb-4">Home</h1>
            <div class="grid grid-cols-4 gap-4 mb-4">
                <div class="border-l-4 border-sky-700 h-44 rounded bg-gray-50 dark:bg-gray-800">
                    <div class="p-4 ">
                        <h3 class="text-xl font-medium">NUMBER OF ENDPOINTS</h3>
                    </div>
                    <div class="flex items-center px-4 py-2">
                        <h1 class="text-6xl">10</h1>
                        <div class="text-4xl text-white px-44">
                            <div class="p-6 rounded-full bg-sky-700">
                                <i class="fa-solid fa-server"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="border-l-4 border-green-700 h-44 rounded bg-gray-50 dark:bg-gray-800">
                    <div class="p-4 ">
                        <h3 class="text-xl font-medium">UPTIME OF ENDPOINTS</h3>
                    </div>
                    <div class="flex items-center px-4 py-2">
                        <h1 class="text-6xl">9/10</h1>
                        <div class="text-4xl text-white px-32">
                            <div class="p-6 rounded-full bg-green-700">
                                <i class="fa-solid fa-gauge-high"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="border-l-4 border-red-700 h-44 rounded bg-gray-50 dark:bg-gray-800">
                    <div class="p-4 ">
                        <h3 class="text-xl font-medium">ALERTS</h3>
                    </div>
                    <div class="flex items-center px-4 py-2">
                        <h1 class="text-6xl">3</h1>
                        <div class="text-4xl text-white px-52">
                            <div class="p-6 rounded-full bg-red-700">
                                <i class="fa-solid fa-bell"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="border-l-4 border-orange-400 h-44 rounded bg-gray-50 dark:bg-gray-800">
                    <div class="p-4 ">
                        <h3 class="text-xl font-medium">NUMBER OF SCANS</h3>
                    </div>
                    <div class="flex items-center px-4 py-2">
                        <h1 class="text-6xl">100</h1>
                        <div class="text-4xl text-white px-36">
                            <div class="p-6 rounded-full bg-orange-400">
                                <i class="fa-solid fa-radiation"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid grid-cols-2 gap-4 mb-4">
                <div class="flex items-center justify-center rounded bg-gray-50 h-72 dark:bg-gray-800">
                    <p class="text-2xl text-gray-400 dark:text-gray-500">
                        <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
                        </svg>
                    </p>
                </div>
                <div class="flex items-center justify-center rounded bg-gray-50 h-72 dark:bg-gray-800">
                    <p class="text-2xl text-gray-400 dark:text-gray-500">
                        <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
                        </svg>
                    </p>
                </div>
            </div>

            <div class="flex items-center justify-center h-72 mb-4 rounded bg-gray-50 dark:bg-gray-800">
                <p class="text-2xl text-gray-400 dark:text-gray-500">
                    <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
                    </svg>
                </p>
            </div>
        </div>
    </div>

    <!-- RIGHT BUTTON -->
    <div data-dial-init class="fixed right-6 bottom-6 group">
        <div id="speed-dial-menu-default" class="flex flex-col items-center hidden mb-4 space-y-2">
            <button type="button" data-tooltip-target="tooltip-User" data-tooltip-placement="left" class="flex justify-center items-center w-[52px] h-[52px] text-gray-500 hover:text-gray-900 bg-white rounded-full border border-gray-200 dark:border-gray-600 shadow-sm dark:hover:text-white dark:text-gray-400 hover:bg-gray-50 dark:bg-gray-700 dark:hover:bg-gray-600 focus:ring-4 focus:ring-gray-300 focus:outline-none dark:focus:ring-gray-400">
                <i class="fa-solid fa-user"></i>
                <span class="sr-only">User</span>
            </button>
            <div id="tooltip-User" role="tooltip" class="absolute z-10 invisible inline-block w-auto px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                User
                <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
            <button type="button" data-tooltip-target="tooltip-add_endpoint" data-tooltip-placement="left" class="flex justify-center items-center w-[52px] h-[52px] text-gray-500 hover:text-gray-900 bg-white rounded-full border border-gray-200 dark:border-gray-600 dark:hover:text-white shadow-sm dark:text-gray-400 hover:bg-gray-50 dark:bg-gray-700 dark:hover:bg-gray-600 focus:ring-4 focus:ring-gray-300 focus:outline-none dark:focus:ring-gray-400">
                <i class="fa-solid fa-server"></i>
                <span class="sr-only">Add Endpoint</span>
            </button>
            <div id="tooltip-add_endpoint" role="tooltip" class="absolute z-10 invisible inline-block w-auto px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                Endpoint
                <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
        </div>
        <button type="button" data-dial-toggle="speed-dial-menu-default" aria-controls="speed-dial-menu-default" aria-expanded="false" class="flex items-center justify-center text-white bg-sky-900 rounded-full w-14 h-14 hover:bg-sky-900 dark:bg-blue-600 dark:hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 focus:outline-none dark:focus:ring-blue-800">
            <svg class="w-5 h-5 transition-transform group-hover:rotate-45" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
            </svg>
            <span class="sr-only">Open actions menu</span>
        </button>
    </div>

    <script src="../static/node_modules/flowbite/dist/flowbite.min.js"></script>
</body>
</html>