{% extends 'user_base.html' %}
{% set title='Browser' %}
{% block contents %}
<div class="p-4">
    <div class="p-8 mt-16">
        <div class="grid grid-cols-4 gap-8">
            <!-- BROWSER -->
            <div class="col-span-3">
                <div class="bg-white dark:bg-gray-700 rounded-lg shadow-md h-170">
                    <h1 class="text-4xl font-bold text-gray-700 dark:text-white pt-8 pl-8 pt-1">Browser</h1>
                    <div class="border-t border-gray-700 dark:border-white w-full mt-8"></div>
                    <div class="bg-white dark:bg-gray-600 p-8">
                        <div class="flex justify-between h-14 mb-2">
                            <div class="flex items-center space-x-4">
                                <a href="{{ url_for('browser.index') }}"><svg class="fill-darkblue" xmlns="http://www.w3.org/2000/svg" height="22" width="22" viewBox="0 0 512 512"><path d="M64 480H448c35.3 0 64-28.7 64-64V160c0-35.3-28.7-64-64-64H288c-10.1 0-19.6-4.7-25.6-12.8L243.2 57.6C231.1 41.5 212.1 32 192 32H64C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64z"/></svg></a>                 
                                <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                                </svg>
                                <h1 class="font-semibold text-lg text-gray-700 dark:text-white"><span>{{ current_user.username }}</span></h1>
                            </div>
                            <div class="flex space-x-2 p-2">
                                <button id="returnButton" hidden class="bg-darkblue hover:bg-lightblue px-3.5 py-2.5 rounded-xl">
                                    <svg class="fill-white" xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"><path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/></svg>
                                </button>
                                <button id="donwload_current" class="bg-darkblue hover:bg-lightblue px-3.5 py-2.5 rounded-xl">
                                    <a href="{{ url_for('browser.download') }}{{ cur_dir }}">
                                        <svg class="fill-white" xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 512 512"><path d="M288 32c0-17.7-14.3-32-32-32s-32 14.3-32 32V274.7l-73.4-73.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0l128-128c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L288 274.7V32zM64 352c-35.3 0-64 28.7-64 64v32c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V416c0-35.3-28.7-64-64-64H346.5l-45.3 45.3c-25 25-65.5 25-90.5 0L165.5 352H64zm368 56a24 24 0 1 1 0 48 24 24 0 1 1 0-48z"/></svg>
                                    </a>
                                </button>
                                <div class="flex">
                                    <button id="buttonSearch" class="bg-gray-500 hover:bg-gray-600 dark:bg-gray-700 dark:hover:bg-gray-800 px-3.5 py-2.5 rounded-xl">
                                        <svg class="fill-white" xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512"><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg>
                                    </button>
                                    <input type="text" id="searchBar" class="hidden rounded-lg bg-gray-50 border border-gray-300 dark:border-white text-gray-900 focus:border-darkblue block text-sm dark:bg-gray-600 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-darkblue" placeholder="Search">
                                </div>
                            </div>
                        </div>
    
                        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                            <thead class="text-gray-700 bg-white border-b dark:border-gray-700 dark:bg-gray-600 dark:text-white">
                                <tr>
                                    <th scope="col" class="px-6 py-3">
                                        <div class="flex items-center">
                                            Name
                                        </div>
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        <div class="flex items-center">
                                            Modification date
                                        </div>
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        <div class="flex items-center">
                                            Type
                                        </div>
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        <div class="flex items-center">
                                            Size
                                        </div>
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="bodySearchBar">
                                {% for dir in items_dir %}
                                <tr class="bg-white border-b dark:bg-gray-600 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-700 cursor-pointer">
                                    <th scope="row" class="onclick_object px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                        <a href="{{ url_for('browser.index') }}{{ cur_dir }}/{{ dir[4] }}" class="location"></a>
                                        <div class="flex items-center">
                                            <div class="flex-shrink-0">
                                                <svg class="fill-yellow-300" xmlns="http://www.w3.org/2000/svg" height="20" width="20" viewBox="0 0 512 512"><path d="M64 480H448c35.3 0 64-28.7 64-64V160c0-35.3-28.7-64-64-64H288c-10.1 0-19.6-4.7-25.6-12.8L243.2 57.6C231.1 41.5 212.1 32 192 32H64C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64z"/></svg>
                                            </div>
                                            <div class="object_name ml-3">
                                                {{ dir[0] }}
                                            </div>
                                        </div>
                                    </th>
                                    <td class="onclick_object px-6 py-4">
                                        {{ dir[2] }}
                                    </td>
                                    <td class="onclick_object px-6 py-4">
                                        Folder
                                    </td>
                                    <td class="onclick_object px-6 py-4">
                                        {{ dir[3] }}
                                    </td>
                                    <td class="px-6 py-4">
                                        <div class="space-x-2">
                                            {% if cur_dir == '' %}
                                            <button title="Download Folder"><a href="{{ url_for('browser.download') }}{{ dir[4] }}" class="font-medium text-darkblue dark:text-darkblue hover:text-gray-500 hover:underline dark:hover:text-white text-lg"><i class="fa-solid fa-cloud-arrow-down"></i></a></button>
                                            {% else %}
                                            <button title="Download Folder"><a href="{{ url_for('browser.download') }}{{ cur_dir }}/{{ dir[4] }}" class="font-medium text-darkblue dark:text-darkblue hover:text-gray-500 hover:underline dark:hover:text-white text-lg"><i class="fa-solid fa-cloud-arrow-down"></i></a></button>
                                            {% endif %}
                                            <button data-modal-show="DeleteFolder" data-modal-target="DeleteFolder" title="Delete Folder" class="delete_object_name"><p class=" font-medium text-red-600 dark:text-red-500 hover:text-gray-500 hover:underline dark:hover:text-white text-lg"><i class="fa-solid fa-trash-can"></i></p></button>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                                {% for file in items_file %}
                                <tr class="bg-white border-b dark:bg-gray-600 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-700">
                                    <th scope="row" class="onclick_object px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                        <div class="flex items-center">
                                            <div class="flex-shrink-0">
                                                <svg class="fill-gray-400" xmlns="http://www.w3.org/2000/svg" height="20" width="16" viewBox="0 0 384 512"><path d="M0 64C0 28.7 28.7 0 64 0H224V128c0 17.7 14.3 32 32 32H384V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V64zm384 64H256V0L384 128z"/></svg>
                                            </div>
                                            <div class="object_name ml-3">
                                                {{ file[0] }}
                                            </div>
                                        </div>
                                    </th>
                                    <td class="onclick_object px-6 py-4">
                                        {{ file[2] }}
                                    </td>
                                    <td class="onclick_object px-6 py-4">
                                        File
                                    </td>
                                    <td class="onclick_object px-6 py-4">
                                        {{ file[3] }}
                                    </td>
                                    <td class="px-6 py-4">
                                        <div class="space-x-2">
                                            {% if cur_dir == "" %}
                                            <button title="Download File"><a href="{{ url_for('browser.download') }}{{ file[4] }}" class="font-medium text-darkblue dark:text-darkblue hover:text-gray-500 hover:underline dark:hover:text-white text-lg"><i class="fa-solid fa-cloud-arrow-down"></i></a></button>
                                            {% else %}
                                            <button title="Download File"><a href="{{ url_for('browser.download') }}{{ cur_dir }}/{{ file[4] }}" class="font-medium text-darkblue dark:text-darkblue hover:text-gray-500 hover:underline dark:hover:text-white text-lg"><i class="fa-solid fa-cloud-arrow-down"></i></a></button>
                                            {% endif %}
                                            <button data-modal-show="DeleteFile" data-modal-target="DeleteFile" title="Delete File" class="delete_object_name"><p class="font-medium text-red-600 dark:text-red-500 hover:text-gray-500 hover:underline dark:hover:text-white text-lg"><i class="fa-solid fa-trash-can"></i></p></button>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div id="noElementFound" style="display: none;" class="flex justify-center p-4 items-center dark:bg-gray-600">
                            <h1 class="dark:text-white font-semibold">No element found!</h1>
                        </div>                   
                    </div>
                </div>
            </div>
            <!-- MENU -->
            <div class="col-start-4">
                <div class="flex bg-white dark:bg-gray-700 rounded-lg shadow-md h-170">
                    <div class="flex-col w-full h-full">
                        <h1 class="text-4xl font-bold text-gray-700 dark:text-white p-8">Menu</h1>
                        <div class="border-t border-gray-700 dark:border-white w-full"></div>
                        <div class="p-4 space-y-4 flex-col justify-center">
                            <form method="POST" action="{{ url_for('browser.scan_route') }}" class="space-y-4" enctype="multipart/form-data">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"> 
                                <div class="flex space-x-3">
                                    <label for="fileInput" class="w-full bg-darkblue hover:bg-lightblue p-2 rounded-lg text-white font-semibold cursor-pointer"><span class="flex items-center justify-center">Add file</span></label>
                                    <input type="file" id="fileInput" name="fileInput" class="hidden" multiple>
                                    <label for="folderInput" class="w-full bg-darkblue hover:bg-lightblue p-2 rounded-lg text-white font-semibold cursor-pointer"><span class="flex items-center justify-center">Add folder</span></label>
                                    <input type="file" id="folderInput" name="folderInput" class="hidden" webkitdirectory directory>
                                </div>
                                <div class="flex justify-center bg-gray-100 dark:bg-gray-600 rounded-lg h-16">
                                    <p id="inputStateDefault" class="flex items-center font-semibold text-red-500">No file or folder loaded !</p>
                                    <p id="inputStateFile" class="flex items-center font-semibold text-green-500 hidden">File(s) loaded !</p>
                                    <p id="inputStateFolder" class="flex items-center font-semibold text-green-500 hidden">Folder(s) loaded !</p>
                                    <p id="inputStateFF" class="flex items-center font-semibold text-green-500 hidden">File(s) and Folder(s) loaded !</p>
                                </div>
                                <button class="w-full bg-red-500 hover:bg-red-500/70 p-2 rounded-lg text-white font-semibold">Scan</button>
                            </form>
                            <div class="bg-gray-100 dark:bg-gray-600 rounded-lg h-72 p-2">
                                <div class="bg-black rounded-lg h-full p-2">
                                    <div class="flex">
                                        <p class="text-sm text-white">Last scan result ></p>
                                    </div>
                                    {% if session["scan_resultat"]  %}
                                    {% for element in session["scan_resultat"] %}
                                    <p class="text-white text-sm">{{ element }}</p><br>
                                    {% endfor %}
                                    {% else %}
                                    <p class="text-white text-sm">~ No scan started</p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="bg-gray-100 dark:bg-gray-600 rounded-lg p-4 h-32">
                                <div class="flex justify-between">
                                    <h1 class="text-sm text-gray-500 dark:text-white">Endpoint Connexion Code</h1>
                                    {% if code %}
                                        <button id="undoBlur" class="text-gray-500"><i class="viewCode fa-solid fa-eye"></i></button>
                                    {% endif %}
                                </div>
                                {% if code %}
                                <h1 id="codeEndpoint" class="flex justify-center text-lg lg:text-4xl font-bold text-gray-700 dark:text-white p-4 blur-md">{{ code }}</h1>
                                {% else %}
                                <div class="flex justify-center items-center">
                                    <form method="POST" action="{{ url_for('browser.code') }}">
                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" >
                                        <button class="bg-darkblue hover:bg-lightblue p-2 rounded-lg text-white font-semibold mt-4">Generate code</button>
                                    </form>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 <!-- Info modal -->
 <div id="infoModal" tabindex="-1" aria-hidden="true" class="backdrop-blur-sm fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="relative w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    Help
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="infoModal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="ml-6 mr-6 p-4 space-y-4">
                <div class="bg-gray-100 dark:bg-gray-600 rounded-lg p-4">
                    <div class="flex space-x-1 items-center">
                        <p class="text-gray-700 dark:text-white"><i class="fa-solid fa-circle-info"></i></p>
                        <h1 class="text-sm text-gray-500 dark:text-white">Information</h1>
                    </div>
                    <p class="mt-2 text-sm dark:text-white">In this file explorer, you have the possibility to recover the files that you have transferred from your USB key. Likewise, you can also send files from your computer to retrieve them later on your USB key when you navigate to an endpoint.</p>    
                </div>
                <div class="bg-red-100 dark:bg-red-300 rounded-lg p-4">
                    <div class="flex space-x-1 items-center">
                        <p class="text-gray-700 dark:text-white"><i class="fa-solid fa-triangle-exclamation"></i></p>
                        <h1 class="text-sm text-gray-500 dark:text-white">Warning</h1>
                    </div>
                    <p class="mt-2 text-sm dark:text-white">Please note that this space is not intended for permanent storage of files, but rather for transferring them between your USB drive and your computer. Therefore, files will be automatically deleted after a certain period of time according to the settings set by the administrator.</p>    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Delete file -->
<div id="DeleteFile" data-modal-backdrop="static" tabindex="-1" class="backdrop-blur-sm fixed top-0 left-0 right-0 z-50 hidden p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
	<div class="relative w-full max-w-md max-h-full">
		<div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
			<button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="DeleteFile">
				<svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
					<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
				</svg>
				<span class="sr-only">Close modal</span>
			</button>
			<div class="p-6 text-center">
				<svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
					<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
				</svg>
				<h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">Are you sure you want to delete this file ?</h3>
				<button data-modal-hide="DeleteFile" type="button" id="yesButtonDeleteFile" class="yesButtonDeleteObject text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2">
					Yes
				</button>
				<button data-modal-hide="DeleteFile" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">No</button>
			</div>
		</div>
	</div>
</div>
<!-- Delete folder -->
<div id="DeleteFolder" data-modal-backdrop="static" tabindex="-1" class="backdrop-blur-sm fixed top-0 left-0 right-0 z-50 hidden p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
	<div class="relative w-full max-w-md max-h-full">
		<div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
			<button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="DeleteFolder">
				<svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
					<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
				</svg>
				<span class="sr-only">Close modal</span>
			</button>
			<div class="p-6 text-center">
				<svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
					<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
				</svg>
				<h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">Are you sure you want to delete this folder ?</h3>
				<button data-modal-hide="DeleteFolder" type="button" id="yesButtonDeleteFolder" class="yesButtonDeleteObject text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2">
					Yes
				</button>
				<button data-modal-hide="DeleteFolder" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">No</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block scripts %}
<script> var csrf_token = "{{ csrf_token() }}";</script>
<script src="{{ url_for('static',filename='js/scripts/browser.js') }}"></script>
{% endblock %}