<div class="grid grid-cols-1">
    <div class="bg-white rounded-lg shadow-md">
        <div class="border-b border-gray-200">
            <ul class="flex flex-wrap -mb-px text-sm font-medium text-center text-gray-500 dark:text-gray-400">
                <li class="mr-2">
                    <a id="Endpoints-Dashboard" href="{{ url_for('panel.endpoints.dashboard') }}" class="inline-flex items-center justify-center p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-blue-600 dark:text-white dark:hover:text-gray-300 group" aria-current="page">
                        <svg id="Dashboard-svg" class="w-4 h-4 mr-2 text-gray-400 group-hover:text-gray-500 dark:text-white dark:group-hover:text-gray-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 18">
                            <path d="M6.143 0H1.857A1.857 1.857 0 0 0 0 1.857v4.286C0 7.169.831 8 1.857 8h4.286A1.857 1.857 0 0 0 8 6.143V1.857A1.857 1.857 0 0 0 6.143 0Zm10 0h-4.286A1.857 1.857 0 0 0 10 1.857v4.286C10 7.169 10.831 8 11.857 8h4.286A1.857 1.857 0 0 0 18 6.143V1.857A1.857 1.857 0 0 0 16.143 0Zm-10 10H1.857A1.857 1.857 0 0 0 0 11.857v4.286C0 17.169.831 18 1.857 18h4.286A1.857 1.857 0 0 0 8 16.143v-4.286A1.857 1.857 0 0 0 6.143 10Zm10 0h-4.286A1.857 1.857 0 0 0 10 11.857v4.286c0 1.026.831 1.857 1.857 1.857h4.286A1.857 1.857 0 0 0 18 16.143v-4.286A1.857 1.857 0 0 0 16.143 10Z"/>
                        </svg>Dashboard
                    </a>
                </li>
                <li class="mr-2">
                    <a id="Endpoints-Logs" href="" class="inline-flex items-center justify-center p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-blue-600 dark:text-white dark:hover:text-gray-300 group">
                        <svg id="Logs-svg" class="w-4 h-4 mr-2 text-gray-400 group-hover:text-gray-500 dark:text-white dark:group-hover:text-gray-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
                            <path d="M16 1h-3.278A1.992 1.992 0 0 0 11 0H7a1.993 1.993 0 0 0-1.722 1H2a2 2 0 0 0-2 2v15a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2Zm-3 14H5a1 1 0 0 1 0-2h8a1 1 0 0 1 0 2Zm0-4H5a1 1 0 0 1 0-2h8a1 1 0 1 1 0 2Zm0-5H5a1 1 0 0 1 0-2h2V2h4v2h2a1 1 0 1 1 0 2Z"/>
                        </svg>Logs
                    </a>
                </li>
                <li class="mr-2">
                    <a id="Endpoints-Settings" href="{{ url_for('panel.endpoints.settings') }}" class="inline-flex items-center justify-center p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-blue-600 dark:text-white dark:hover:text-gray-300 group">
                        <svg id="Settings-svg" class="w-4 h-4 mr-2 text-gray-400 group-hover:text-gray-500 dark:text-white dark:group-hover:text-gray-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M5 11.424V1a1 1 0 1 0-2 0v10.424a3.228 3.228 0 0 0 0 6.152V19a1 1 0 1 0 2 0v-1.424a3.228 3.228 0 0 0 0-6.152ZM19.25 14.5A3.243 3.243 0 0 0 17 11.424V1a1 1 0 0 0-2 0v10.424a3.227 3.227 0 0 0 0 6.152V19a1 1 0 1 0 2 0v-1.424a3.243 3.243 0 0 0 2.25-3.076Zm-6-9A3.243 3.243 0 0 0 11 2.424V1a1 1 0 0 0-2 0v1.424a3.228 3.228 0 0 0 0 6.152V19a1 1 0 1 0 2 0V8.576A3.243 3.243 0 0 0 13.25 5.5Z"/>
                        </svg>Settings
                    </a>
                </li>
                <li class="mr-2">
                    <a id="Endpoints-Remote" class="inline-flex items-center justify-center p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-blue-600 dark:text-white dark:hover:text-gray-300 group">
                        <i class="fa-solid fa-terminal"></i> 
                        <h1 class="ml-2">Remote SSH</h1>
                    </a>
                </li>
                <div class="m-auto mr-0">
                    <button class="inline-flex items-center justify-center p-4 border-b-2 border-transparent rounded-t-lg hover:text-orange-500 hover:border-orange-500 dark:hover:text-orange-500 group dark:text-white">
                        <div class="space-x-1"><i class="fa-solid fa-arrow-rotate-right"></i> Reboot</div>
                    </button>
                    <button class="inline-flex items-center justify-center p-4 border-b-2 border-transparent rounded-t-lg hover:text-red-500    hover:border-red-500 dark:hover:text-red-500 group dark:text-white">
                        <div class="space-x-1"><i class="fa-solid fa-power-off"></i> Shutdown</div>
                    </button>
                </div>
            </ul>                                            
        </div>
    </div>
</div>